<extend name="Public/base"/><block name="body"><div class="fixed-bar" id="Diary_Bar">
	<div class="item-title">
		<h3>管家日记</h3>
		<ul class="tab-base">
			<if condition="Is_Auth('Cms/Diary/index')">
			<li><a href="{:U('Cms/Diary/index')}"><span>列表</span></a></li>
			</if>
			<if condition="Is_Auth('Cms/Diary/add')">
			<li><a href="{:U('Cms/Diary/add')}"><span>新增</span></a></li>
			</if>
			<li><a class="current" href="#"><span>更新</span></a></li>
		</ul>
	</div>
</div>
<form id="Diary_Form" method="post">
<table class="table tb-type2 nobdb">
	<tbody>
			<tr>
			<td colspan="2" class="required"><label for="for_deco_id">装修订单:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="deco_id" value="{$_info["deco_id"]}" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_butler_id">管家:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="butler_id" value="{$_info["butler_id"]}" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_node_id">装修节点:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="node_id" value="{$_info["node_id"]}" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_title">标题:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="title" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["title"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_content">内容:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="content" value="{$_info["content"]}" type="text" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:80px;"></td>
			<td class="vatop tips"></td>
		</tr>	</tbody>
	<tfoot>
		<tr class="tfoot">
			<td colspan="2"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="$('#Diary_Form').submit();" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">提交</span></a></td>
		</tr>
	 </tfoot>
</table>
<input name="id" type="hidden" value="{:I('get.id')}" />
</form></block>