<extend name="Public/base"/><block name="body"><div class="fixed-bar" id="Diary_Bar">
	<div class="item-title">
		<h3>管家日记</h3>
		<ul class="tab-base">
			<li><a class="current" href="JavaScript:void(0);" onclick="Data_Reload('Diary_Data_List');"><span>列表</span></a></li>
			<li><a href="JavaScript:void(0);" onclick="Data_Search('Diary_Search_From','Diary_Data_List');"><span>搜索</span></a></li>
			<if condition="Is_Auth('Cms/Diary/add')">
			<li><a href="{:U('Cms/Diary/add')}"><span>新增</span></a></li>
			</if>
		</ul>
	</div>
</div>
<div style="display: none">
  <form id="Diary_Search_From" class="search_from">
	<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tr>
			<th>装修订单 : </th>
			<td><input name="s_deco_id" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
		</tr><tr>
			<th>管家 : </th>
			<td><input name="s_butler_id" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
		</tr><tr>
			<th>装修节点 : </th>
			<td><input name="s_node_id" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
		</tr><tr>
			<th>标题 : </th>
			<td><input name="s_title" type="text" class="easyui-textbox" style="height:30px;"></td>
		</tr><tr>
			<th>内容 : </th>
			<td><input name="s_content" type="text" class="easyui-textbox" style="height:30px;"></td>
		</tr><tr>
			<th>创建时间 : </th>
			<td><input name="s_create_time_min" type="text" class="easyui-datetimebox" style="height:30px;"> - <input name="s_create_time_max" type="text" class="easyui-datetimebox" style="height:30px;"></td>
		</tr>    </table>
  </form>
</div>

<table id="Diary_Data_List"></table>

<script type="text/javascript">
$(function() {
	$("#Diary_Data_List").datagrid({
		url : "{:U('Diary/index')}",
		fit : true,
		striped : true,
		border : false,
		pagination : true,
		pageSize : 20,
		pageList : [ 10, 20, 50 ],
		pageNumber : 1,
		sortName : 'id',
		sortOrder : 'desc',
		toolbar : '#Diary_Bar',
		singleSelect : true,
		columns : [[
            {field : 'id',title : 'ID',width : 40,sortable:true},
{field : "deco_id",title : "装修订单",width :200,sortable:true},{field : "butler_id",title : "管家",width :200,sortable:true},{field : "node_id",title : "装修节点",width :200,sortable:true},{field : "title",title : "标题",width :200,sortable:true},{field : "content",title : "内容",width :200,sortable:true},{field : "create_time",title : "创建时间",width :200,sortable:true,formatter: function (value, row, index) {
			return u_to_ymdhis(value)
		}},			{field : "operate",title : "操作",width : 200,formatter: function (value, row, index) {
				operate_menu='';
				
				<if condition="Is_Auth('Cms/Diary/edit')">
				operate_menu = operate_menu+"<a href='<?php echo U('edit'); ?>&id="+row.id+"' >编辑</a>";
				</if>

				<if condition="Is_Auth('Cms/Diary/del')">
				operate_menu = operate_menu+" | <a href='#' onclick=\"Data_Remove('<?php echo U('del'); ?>&id="+row.id+"','Diary_Data_List');\">删除</a>";
				</if>

				return operate_menu;
			}}
		]]
	});
})
</script></block>