<include file="./Public/Store/html/head.html" />
<body data-type="widgets">
<script src="__JS__/main.js"></script>
<div class="am-g tpl-g">
    <include file="./Public/Store/html/header.html" />
    <include file="./Public/Store/html/sidebar.html" />
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">项目详情列表</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                    <thead>
                                    <tr>
                                        <th>项目</th>
                                        <th>节点</th>
                                        <th>金额</th>
                                        <th>类型</th>
                                        <th>时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="list" id="vo" mod="2">
                                        <tr class="gradeX" >
                                            <td>{$vo.title}</td>
                                            <td>{$vo.note_title}</td>
                                            <td>{$vo.money}</td>
                                            <td class="am-text-middle">
                                                <eq name="vo.type" value="1">
                                                    提现
                                                    <else/>
                                                    收入
                                                </eq>
                                            </td>
                                            <td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        {$page}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="./Public/Store/html/footer.html" />
</body>

</html>