<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>基本地图展示</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.3&key=23b2503525206852addda1bb6879d7e6"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script src="__JS__/jquery.min.js"></script>
    <script src="__STATIC__/layer/layer.js"></script>
</head>
<body>
<div id="container"></div>

<script>
    var map = new AMap.Map('container', {
        resizeEnable: true,
        zoom:13,
        //center: [112.449574,34.6653]
        center: [{$position_y},{$position_x}]
    });
  
    AMap.plugin('AMap.Geocoder',function(){
        var geocoder = new AMap.Geocoder();
        var marker = new AMap.Marker({
            map:map,
            bubble:true
        })
        map.on('click',function(e){
            marker.setPosition(e.lnglat);
            geocoder.getAddress(e.lnglat,function(status,result){
                if(status=='complete'){
                    var y = e.lnglat.getLng();
                    var x = e.lnglat.getLat();
                    layer.confirm('确定使用当前位置吗？', function(){
                        //发送异步请求(保存坐标以及地理位置)
                        $.get("{:U('Public/add_map_data')}", {position_x:x,position_y:y,user_position_data:result.regeocode.formattedAddress}, function (data){

                            if(data == 1){
                                layer.msg('信息储存成功', {
                                    icon: 6
                                });
                            }else{
                                layer.msg('信息储存失败', {
                                    icon: 5
                                });
                            }
                            parent.layer.closeAll();
                        });

                        //alert( + "," + y);
                        //alert(result.regeocode.formattedAddress);
                    });
                }
            })
        })
    });

</script>
</body>
</html>