<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>合同</title>
</head>
<body>
<div>

	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal" style="text-indent:22.0pt;">
		按照《中华人民共和国经济合同法》和《河南省建筑市场管理条例》的规定，结合家庭装饰工程交易规则及本工程具体情况，上述三方达成如下协议：<span></span>
	</p>
	<p class="MsoNormal">
		<b>一、合同主要内容：<span></span></b>
	</p>
	<p class="MsoNormal">
		&nbsp;1、甲方将自己位于<u><span>&nbsp;&nbsp;{$info.address}&nbsp;&nbsp; </span></u>，住宅的室内装饰工程交给乙方承做。<span></span>
	</p>
	<p class="MsoNormal">
		&nbsp;2、双方核定的房屋建筑面积 <u><span>&nbsp;&nbsp;{$info.area}&nbsp;&nbsp;</span></u>㎡。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>1</span>）房屋若无异形等特殊部分和赠送部分，计价建筑面积以房本或购房合同上登记的为准，建筑面积小于<span>60</span>㎡按<span>60</span>㎡计算；<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:23.5pt;text-indent:-55.0pt;">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; （<span>2</span>）若房屋存在异形等特殊部分和赠送部分使得房本与购房合同载明的建筑面积与实测面积<span>/0.75</span>存在误差的，则按实测面积除以<span>0.75</span>的系数计算计价建筑面积。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:23.5pt;text-indent:-55.0pt;">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; （<span>3</span>）若甲方（客户）无法提供房本或者购房合同的则计价建筑面积<span>=</span>实测套内面积<span>/0.75+</span>露台面积的<span>1/2</span>，同时需要出具无法提供房屋合同或者购房合同相关部门证明文件。<span></span>
	</p>
	<p class="MsoNormal">
		3、工程总造价（大写）：<u><span>&nbsp;&nbsp;&nbsp;{$info.total_price|toChineseNumber=###}&nbsp;&nbsp;&nbsp; </span>。</u><span></span>
	</p>
	<p class="MsoNormal">
		4、工期<u><span>&nbsp;&nbsp;45&nbsp;&nbsp; </span></u>天，自<u>&nbsp;&nbsp;&nbsp;{$info.start_time}&nbsp;&nbsp;&nbsp;</u>起 至<u>&nbsp;&nbsp;&nbsp;{$info.end_time}&nbsp;&nbsp;&nbsp;</u>止。<span></span>
	</p>
	<p class="MsoNormal">
		5、工程款付款方式分为以下两种，甲方的付款方式为全额支付在丙方帐户，由丙方按施工进度验收后经甲方同意向乙方支付。按照工程进度，分为<span>15</span>个付款节点（详见施工进度表），在别装了上选购的主材，由丙方一次性付款，由丙方主材合作商户出具质保和购买合同。
	</p>
	<p class="MsoNormal" style="margin-left:22.0pt;text-indent:-22.0pt;">
		&nbsp;
	</p>
	<p class="MsoNormal">
		6、工程保修期：<u> 水电十年，其他三年，易损件质保一年。（主材详见质保单）<span></span></u>
	</p>
	<p class="MsoNormal">
		<u>&nbsp;</u>
	</p>
	<p class="MsoNormal">
		7、甲方代表：<u><span>&nbsp;&nbsp;&nbsp;&nbsp;{$info.realname}&nbsp;&nbsp;&nbsp;&nbsp;</span></u>
	</p>
	<p class="MsoNormal">
		<u>&nbsp;</u>
	</p>
	<p class="MsoNormal">
		&nbsp;&nbsp; 乙方代表：<i><u> </u></i><u><span>&nbsp;&nbsp;&nbsp;&nbsp;{$info.comp_name}&nbsp;&nbsp;&nbsp;&nbsp;</span></u>
	</p>
	<p class="MsoNormal">
		&nbsp;
	</p>
	<p class="MsoNormal">
		&nbsp;&nbsp; 丙方代表：<u><span>&nbsp;&nbsp;&nbsp;&nbsp;郑州改造家网络技术有限公司&nbsp;&nbsp;&nbsp;&nbsp; </span></u>
	</p>
	<p class="MsoNormal">
		<u>&nbsp;</u>
	</p>
	<p class="MsoNormal">
		8、套餐内主要材料内容详见别装了客户选材表（附表一）。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:16.5pt;text-indent:-16.5pt;">
		9、本合同签订生效后，甲、乙、丙三方应严格履行合同所规定的各项条款，不得擅自变更或解除合同，否则违约方将付给对方工程预算总造价<span>10%</span>的违约金并承担因此造成的其他经济损失。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">
		<b>二、</b><b>合同细节说明：<span></span></b>
	</p>
	<p class="MsoNormal">
		&nbsp;1、甲方工作<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>1</span>）开工前，向乙方提供经确认的施工图纸或作法说明<span>1</span>份，并向乙方进行现场交底。全部腾或部分腾出房屋，清除影响施工的障碍物。对只能部分腾出的房屋中所滞留的家具、陈设等采取保护措施，并与乙方签定协议。向乙方提供施工所需的水、电、气及电讯等设备并说明使用注意事项。办理施工所涉及的各种申请、批件等手续。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>2</span>）甲方代表对工程质量、进度进行监督检查，办理验收、变更、登记手续。甲方其他家庭成员对工程及乙方的意见均需通过甲方代表与乙方接触。<span></span>
	</p>
	<p class="MsoNormal">
		（<span>3</span>）负责协调邻里关系，保证乙方施工时间。<span></span>
	</p>
	<p class="MsoNormal">
		（<span>4</span>）如确实需要拆改原建筑物结构或设备管线，负责到有关部门办理相应的审批手续。<span></span>
	</p>
	<p class="MsoNormal">
		（<span>5</span>）协调有关部门做好现场保卫、消防、垃圾处理等工作，并承担相应费用。<span></span>
	</p>
	<p class="MsoNormal">
		2、乙方工作：<span></span>
	</p>
	<p class="MsoNormal">
		（<span>1</span>）组织施工图交底，拟定施工方案和进度计划，必要时与甲方审定并签字认可。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>2</span>）严格执行施工规范、安全操作规程、防火安全规定、环境保护规定。严格按照图纸或作法说明进行施工，做好各项质量检查记录。参加竣工验收，编制工程结算。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>3</span>）遵守国家或地方政府及有关部门对施工现场管理的规定，妥善保护好施工现场周围建筑物、设备管线、古树名木不受损坏。做好施工现场保护工作，处理好由于施工带来的扰民问题及周围单位（住户）的关系。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">
		（4）施工中未经甲方同意或有关部门批准，不得随意拆改原建筑物结构及各种设备管线。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">
		（5）工程竣工未移交甲方之前，负责对现场的一切设施和工程成品进行保护。<span></span>
	</p>
	<p class="MsoNormal">
		3、丙方工作：<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>1</span>）对乙方的工地现场形象管理、施工质量、施工进度以及施工用材进行网络监管。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>2</span>）对甲方的付款进行督促和监管。<span></span>
	</p>
	<p class="MsoNormal">
		（<span>3</span>）对施工过程中，甲乙双方产生的纠纷进行调解。<span></span>
	</p>
	<p class="MsoNormal">
		4、工期：<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:22.0pt;text-indent:-22.0pt;">
		（<span>1</span>）甲方要求比合同约定的工期提前竣工时，应征得乙方同意，支付乙方赶工费并签订工期变更协议。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">
		（2）因甲方未按约定完成工作，影响工期，工期顺延。对乙方造成误工的，应付误工费。<span></span>
	</p>
	<p class="MsoNormal">
		（<span>3</span>）因乙方责任，不能按期开工或中途无故停工，影响工期，工期不顺延。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:22.0pt;text-indent:-22.0pt;">
		（<span>4</span>）因设计变更或非乙方原因造成的停电、停水、停气及不可抗力因素影响，导致停工<span>4</span>小时以上（一周内累计计算），工期相应顺延。因此造成乙方的误工损失费用双方协商解决。<span></span>
	</p>
	<p class="MsoNormal">
		5、工程质量及验收<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:22.0pt;text-indent:-22.0pt;">
		（<span>1</span>）工程以施工图纸、作法说明、设计变更的内容为依据，以《河南省家庭居家装饰装修施工工艺及验收标准（<span>YJG32-97</span>）》为质量评定合格标准。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:22.0pt;text-indent:-22.0pt;">
		（<span>2</span>）甲、乙双方应及时办理隐蔽工程和中间工程的检查与验收手续。甲方不按时参加隐蔽工程和<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>中间工程验收，乙方可自行验收，甲方应予以承认。若甲方要求复验时，乙方应按要求办理复验。若复验合格，甲方应承担复验费用，由此造成停工、工期顺延；若复验不合格，其复验及返工费用由乙方承担，但工期也予顺延。<span></span>
	</p>
	<p class="MsoNormal">
		（<span>3</span>）由于甲方提供的材料、设备质量不合格而影响工程质量，其返工费用由甲方承担，工期顺延。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">
		6、变更<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>1</span>）别装了<span>699</span>项目内包含内容三方需在合同签订前达成共识，并签字盖章确认，主要主材有需要减项或更换的，应按照原材料采购价格在总款中减免或补清差额，如甲方有需要额外增加项目，需和乙方另行签订补充协议，此协议内容和丙方无关。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>2</span>）如在工程施工过程中甲方提出设计修改意见及增减工程项目时，须提前与乙方代表联系，在<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>签定变更单后方能进行该项目施工。凡私自与工人商定更改施工内容所引起的一切后果，甲方自负，给乙方造成损失的，甲方还应赔偿。<span></span>
	</p>
	<p class="MsoNormal">
		7、结算<span></span>
	</p>
	<p class="MsoNormal">
		&nbsp;&nbsp; 工程竣工验收后，乙方提出工程结算并将有关资料送交甲方。甲方自接到上述资料<span>3</span>天内审查完毕，到期未提出异议，视为同意。并在<span>7</span>天内，结清尾数，如不按时结算，视为甲方违约，乙方可拒绝开具保修单。<span></span>
	</p>
	<p class="MsoNormal">
		8、材料供应<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>1</span>）本工程甲方负责采购供应的材料、设备必须有材料设备表，应为符合设计要求的合格产品，并应按时供应到现场。由甲方供应的材料、设备发生了质量问题或规格差异，对工程造成损失，责任由甲方承担。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>2</span>）凡由乙方采购的主要材料、设备必须在材料设备表中注明品牌、规格或质量标准并经甲方签<span>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>字认可；如与材料设备表不符，应禁止使用。若已使用，对工程造成的损失由乙方负责。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">
		9、安全生产和防火<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>1</span>）甲方或乙方提供的施工图纸或作法说明，应符合《中华人民共和国消防条例》和有关防火设<span>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</span>计规范。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:0cm;text-indent:0cm;">
		（2）乙方在施工期内应严格遵守《建筑安装工程安全技术规程》、《建筑安装工人安全
		操作规范》。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>3</span>）由于甲方提供的图纸或作法说明，违反有关安全操作规程、消防条例和防火设计规范，导致<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>发生安全或火灾事故，甲方应承担由此产生的一切经济损失。 <span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>4</span>）由于乙方在施工生产过程中违反有关安全操作规程、消防条例，导致发生安全或火灾事故，乙方应承担由此引发的一切经济损失。<span></span>
	</p>
	<p class="MsoNormal">
		10、奖励和违约责任<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:22.0pt;text-indent:-22.0pt;">
		（<span>1</span>）由于甲方原因导致延期开工或中途停工，甲方应补偿乙方停工误工所造成的损失，每停工或误工一天，甲方支付乙方工程总价款的<span>1</span>‰；甲方不按合同的约定拨付款，每拖延一天，按工程总价款的<span>1</span>‰支付滞纳金。<span>&nbsp; </span>
	</p>
	<p class="MsoNormal" style="margin-left:22.0pt;text-indent:-22.0pt;">
		（<span>2</span>）由于乙方原因，逾期竣工，每逾期一天，乙方支付甲方付款额<span>1</span>‰的违约金。甲方要求提前<span>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>竣工，除支付赶工费用外，每提前一天，甲方支付乙方工程总价款的<span>1</span>‰作为奖励。 <span></span>
	</p>
	<p class="MsoNormal" style="margin-left:22.0pt;text-indent:-22.0pt;">
		（<span>3</span>）甲方未办理任何手续，擅自同意拆改原有建筑物结构或设备管线，由此发生的损失或事故（包括罚款），由甲方负责并承担损失。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:22.0pt;text-indent:-22.0pt;">
		（<span>4</span>）未经甲方同意，乙方擅自拆改原建筑物结构或设备管线，由此发生的损失或事故（包括罚款），由乙方负责并承担损失。<span></span>
	</p>
	<p class="MsoNormal">
		（<span>5</span>）未办理验收手续，甲方提前使用或擅自动用，造成损失由甲方负责。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>6</span>）因一方原因，合同无法继续履行时，应通知对方，办理合同终止协议，并由责任方赔偿对方由此造成的经济损失。<span></span>
	</p>
	<p class="MsoNormal">
		11、争议或纠纷处理<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>1</span>）本合同在履行期间，发生争议时，在不影响工程进度的前提下，双方可采取协商解决或请有关部门进行调解。<span></span>
	</p>
	<p class="MsoNormal" style="margin-left:27.5pt;text-indent:-27.5pt;">
		（<span>2</span>）丙方对本合同内容及工程质量进行监督管理，甲乙双方如有不可调解争议丙方有责任和义务<span>&nbsp; </span>出面协调解决。<span></span>
	</p>
	<p class="MsoNormal">
		（<span>3</span>）当事人不愿通过协商、调解解决或者协商、调解不成时，可向人民法院起诉。<span></span>
	</p>
	<p class="MsoNormal">
		12、其它约定：<span></span>
	</p>
	<p class="MsoNormal">
		13、附则<span></span>
	</p>
	<p class="MsoNormal">
		（<span>1</span>）本合同正、副本各叁份，甲方、乙方各执一份。<span></span>
	</p>
	<p class="MsoNormal">
		（<span>2</span>）本合同履行完成后自动终止。签字（章）生效。<span></span>
	</p>
	<p class="MsoNormal">
		14、附件<span></span>
	</p>
	<p class="MsoNormal">
		（<span>1</span>）有家云宅<span>699</span>项目表（附表一）<span></span>
	</p>
	<p class="MsoNormal">
		（<span>2</span>）主材订单（附表二）<span></span>
	</p>
	<p class="MsoNormal">
		（<span>3</span>）工艺及质量说明（附表三）<span></span>
	</p>
	<p class="MsoNormal">
		（<span>4</span>）施工图及做法说明（附件四）<span></span>
	</p>
	<p class="MsoNormal">
		（<span>5</span>）主材验收单（附表三）<span></span>
	</p>
	<p class="MsoNormal">
		（<span>6</span>）工程验收单（附表三）<span></span>
	</p>
	<p class="MsoNormal">
		（<span>7</span>）工程保修单（附表五）<span></span>
	</p>


</div>
</body>
</html>