<extend name="Public/base"/><block name="body"><div class="fixed-bar" id="Photos_Bar">
	<div class="item-title">
		<h3>图片管理</h3>
		<ul class="tab-base">
			<li><a class="current" href="JavaScript:void(0);" onclick="Data_Reload('Photos_Data_List');"><span>列表</span></a></li>
			<li><a href="JavaScript:void(0);" onclick="Data_Search('Photos_Search_From','Photos_Data_List');"><span>搜索</span></a></li>
			<if condition="Is_Auth('Cms/Photos/add')">
			<li><a href="{:U('Cms/Photos/add')}"><span>新增</span></a></li>
			</if>
		</ul>
	</div>
</div>
<div style="display: none">
  <form id="Photos_Search_From" class="search_from">
	<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tr>
			<th>对象 : </th>
			<td><input name="s_obj_id" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
		</tr><tr>
			<th>地址 : </th>
			<td><input name="s_href" type="text" class="easyui-textbox" style="height:30px;"></td>
		</tr><tr>
			<th>类型 : </th>
			<td><select name="s_type" class="easyui-combobox" style="height:30px;" data-options="value:'',multiple:false,required:false,editable:false"><option value="" >请选择一个选项</option><option value="0" >装修日记</option><option value="1" >管家日记</option></select></td>
		</tr><tr>
			<th>排序 : </th>
			<td><input name="s_sort" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
		</tr><tr>
			<th>创建时间 : </th>
			<td><input name="s_create_time_min" type="text" class="easyui-datetimebox" style="height:30px;"> - <input name="s_create_time_max" type="text" class="easyui-datetimebox" style="height:30px;"></td>
		</tr>    </table>
  </form>
</div>

<table id="Photos_Data_List"></table>

<script type="text/javascript">
$(function() {
	$("#Photos_Data_List").datagrid({
		url : "{:U('Photos/index')}",
		fit : true,
		striped : true,
		border : false,
		pagination : true,
		pageSize : 20,
		pageList : [ 10, 20, 50 ],
		pageNumber : 1,
		sortName : 'id',
		sortOrder : 'desc',
		toolbar : '#Photos_Bar',
		singleSelect : true,
		columns : [[
            {field : 'id',title : 'ID',width : 40,sortable:true},
{field : "obj_id",title : "对象",width :200,sortable:true},{field : "href",title : "地址",width :200,sortable:true,formatter: function (value, row, index) {
				var img = '<img width="50px" height="50px" src="'+value+'"/>';
				return img;
		}},{field : "type",title : "类型",width :200,sortable:true,formatter: function (value, row, index) {
			var op_type=new Array()
			op_type["0"]="装修日记"
			op_type["1"]="管家日记"
			
			return op_type[value];
			}},
			{field : "sort",title : "排序",width :200,sortable:true},{field : "create_time",title : "创建时间",width :200,sortable:true,formatter: function (value, row, index) {
			return u_to_ymdhis(value)
		}},			{field : "operate",title : "操作",width : 200,formatter: function (value, row, index) {
				operate_menu='';
				
				<if condition="Is_Auth('Cms/Photos/edit')">
				operate_menu = operate_menu+"<a href='<?php echo U('edit'); ?>&id="+row.id+"' >编辑</a>";
				</if>

				<if condition="Is_Auth('Cms/Photos/del')">
				operate_menu = operate_menu+" | <a href='#' onclick=\"Data_Remove('<?php echo U('del'); ?>&id="+row.id+"','Photos_Data_List');\">删除</a>";
				</if>

				return operate_menu;
			}}
		]]
	});
})
</script></block>