<extend name="Public/base"/><block name="body"><div class="fixed-bar" id="Goodstype_Bar">
	<div class="item-title">
		<h3>商品类型</h3>
		<ul class="tab-base">
			<if condition="Is_Auth('Cms/Goodstype/index')">
			<li><a href="{:U('Cms/Goodstype/index')}"><span>列表</span></a></li>
			</if>
			<li><a class="current"href="{:U('Cms/Goodstype/add')}"><span>新增</span></a></li>
		</ul>
	</div>
</div>
<form id="Goodstype_Form" method="post">
<table class="table tb-type2 nobdb">
	<tbody>
			<tr>
			<td colspan="2" class="required"><label for="for_room_id">房间:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="room_id" class="easyui-combobox" style="height:30px;" data-options="value:'',url:'{:U("Admin/Function/get_room_all")}&r_type=json',valueField:'id',textField:'text',multiple:false,required:false,editable:false"></select></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_catid">商品类型:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="catid[]" class="easyui-combobox" style="height:30px;" data-options="value:'',url:'{:U("Admin/Function/get_category_goods")}&r_type=json',valueField:'id',textField:'text',multiple:true,cascadeCheck:false,required:false,editable:false"></select></td>
			<td class="vatop tips"></td>
		</tr>	</tbody>
	<tfoot>
		<tr class="tfoot">
			<td colspan="2"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="$('#Goodstype_Form').submit();" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">提交</span></a></td>
		</tr>
	 </tfoot>
</table>
</form></block>