<extend name="Public/base"/><block name="body"><div class="fixed-bar" id="Notice_Bar">
	<div class="item-title">
		<h3>通知公告</h3>
		<ul class="tab-base">
			<if condition="Is_Auth('Cms/Notice/index')">
			<li><a href="{:U('Cms/Notice/index')}"><span>列表</span></a></li>
			</if>
			<li><a class="current"href="{:U('Cms/Notice/add')}"><span>新增</span></a></li>
		</ul>
	</div>
</div>
<form id="Notice_Form" method="post">
<table class="table tb-type2 nobdb">
	<tbody>
			<tr>
			<td colspan="2" class="required"><label for="for_title">标题:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="title" value="" type="text" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:80px;"></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_content">内容:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><textarea id="editor_content" name="content" config_date="0" style="width:500px;height:300px;" class="easyui-kindeditor"></textarea></td>
		</tr>
		<tr class="noborder">
			<td colspan="2" class="vatop tips"></td>
		</tr>
			<tr>
			<td colspan="2" class="required"><label for="for_type">类型:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="type" class="easyui-combobox" style="height:30px;" data-options="value:'1',multiple:false,required:false,editable:false"><option value="1" >普通</option><option value="2" >弹框</option></select></td>
			<td class="vatop tips"></td>
		</tr>	</tbody>
	<tfoot>
		<tr class="tfoot">
			<td colspan="2"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="$('#Notice_Form').submit();" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">提交</span></a></td>
		</tr>
	 </tfoot>
</table>
</form></block>