<extend name="Public/base"/><block name="body"><div class="fixed-bar" id="Goods_Bar">
	<div class="item-title">
		<h3>装修商品</h3>
		<ul class="tab-base">
			<if condition="Is_Auth('Cms/Goods/index')">
			<li><a href="{:U('Cms/Goods/index')}"><span>列表</span></a></li>
			</if>
			<if condition="Is_Auth('Cms/Goods/add')">
			<li><a href="{:U('Cms/Goods/add')}"><span>新增</span></a></li>
			</if>
			<li><a class="current" href="#"><span>更新</span></a></li>
		</ul>
	</div>
</div>
<form id="Goods_Form" method="post">
<table class="table tb-type2 nobdb">
	<tbody>
			<tr>
			<td colspan="2" class="required"><label for="for_title">标题:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="title" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["title"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_coverimg">封面图:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><div class="t_img_box"><img src="{$_info["coverimg"]}" /></div><input id="img_coverimg_box" name="coverimg" value="{$_info["coverimg"]}" class="easyui-textbox" data-options="buttonText:'选择',buttonIcon:'iconfont icon-pic',prompt:'上传图片...',onClickButton:function(){updata_image('img_coverimg_box','t_img_box')}" style="width:250px;height:24px;"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_brand_id">品牌:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="brand_id" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["brand_id"]}',url:'{:U("Admin/Function/get_brand_all")}&r_type=json',valueField:'id',textField:'text',multiple:false,required:false,editable:false"></select></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_cat_id">分类:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="cat_id" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["cat_id"]}',url:'{:U("Admin/Function/get_category_goods")}&r_type=json',valueField:'id',textField:'text',multiple:false,required:false,editable:false"></select></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_markup">加价:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="markup" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["markup"]}',multiple:false,required:false,editable:false"><option value="0" >默认</option><option value="1" >加价</option><option value="2" >减价</option></select></td>
			<td class="vatop tips"></td>
		</tr><tr>
			<td colspan="2" class="required"><label for="for_content">内容:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><textarea id="editor_content" name="content" config_date="1" style="width:800px;height:500px;" class="easyui-kindeditor">{$_info["content"]}</textarea></td>
		</tr>
		<tr class="noborder">
			<td colspan="2" class="vatop tips"></td>
		</tr>
			<tr>
			<td colspan="2" class="required"><label for="for_sort">排序:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="sort" value="{$_info["sort"]}" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_unit">单位:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="unit" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["unit"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_price">单价:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="price" value="{$_info["price"]}" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_markup_price">加价:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="markup_price" value="{$_info["markup_price"]}" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
			<td class="vatop tips"></td>
		</tr>	</tbody>
	<tfoot>
		<tr class="tfoot">
			<td colspan="2"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="$('#Goods_Form').submit();" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">提交</span></a></td>
		</tr>
	 </tfoot>
</table>
<input name="id" type="hidden" value="{:I('get.id')}" />
</form></block>