<include file="./Public/Backstage/html/head.html" />
<body data-type="index">
<div class="am-g tpl-g">
    <include file="./Public/Backstage/html/header.html" />
    <include file="./Public/Backstage/html/sidebar.html" />
    <!-- 内容区域 -->
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">推荐套餐管理</div>

                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default am-btn-success" onclick="add_meal()"><span class="am-icon-plus"></span> 新增</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="">
                                    <thead>
                                    <tr>
                                        <th>套餐编号</th>
                                        <th>风格</th>
                                        <th>方案类型</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="data" id="vo" mod="2">
                                        <tr class="gradeX">
                                            <td>套餐 {$key+1}</td>
                                            <td>{$vo.style_name}</td>

                                            <td><a href="{:U('Meal/material',array('id'=>$vo['id']))}">进入方案管理</a></td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:return false;" onclick="show_update(this)" url="{:U('Meal/update',array('id'=>$vo['id']))}">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>

                                                    <a href="javascript:return false;" onclick="show_del(this)" url="{:U('Meal/del',array('id'=>$vo['id']))}" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        {$page}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="./Public/Backstage/html/footer.html" />
</body>
<script type="text/javascript">
    function add_meal(){
        var index = layer.open({
            type: 2,
            title: '添加套餐',
            shadeClose: true,
            shade: 0.8,
            area: ['550px', '60%'],
            content: "{:U('add')}",
            maxmin: true
        });
    }
    function show_update(obj){
        var url = $(obj).attr('url');
        var index = layer.open({
            type: 2,
            title: '编辑',
            shadeClose: true,
            shade: 0.8,
            area: ['650px', '45%'],
            content: url,
            maxmin: true
        });
    }
    function show_del(obj){
        var url = $(obj).attr('url');
        $.get(url, function(data){
            if (data['success']) {
                layer.alert(data['info'], function (data) {
                    parent.$("#example-r").load(parent.location.href+" #example-r");
                    //layer.closeAll();
                    parent.layer.closeAll();
                    location.reload();
                });
            } else {
                layer.msg(data['info'], {
                    icon: 5
                });
            }
        });
    }

    function show_image(id){
        var index = layer.open({
            type: 2,
            content: "{:U('Gallery/imageindex')}&id="+id,
            area: ['1200px', '90%'],
            maxmin: true
        });
    }
</script>
</html>