<include file="./Public/Backstage/html/head.html" />
<body data-type="index">
<div class="am-g tpl-g">
    <include file="./Public/Backstage/html/header.html" />
    <include file="./Public/Backstage/html/sidebar.html" />
    <!-- 内容区域 -->
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">
                                用户资金流水明细
                                <!-- 搜索 -->
                                <div class="am-u-lg-6" style="float: right">
                                    <form method="get" action="{:U('User/search')}"  class="am-form tpl-form-line-form">
                                        <div class="am-input-group">
                                                  <span class="am-input-group-btn">
                                                    <button class="am-btn am-btn-default" type="submit" ><span class="am-icon-search"></span> </button>
                                                  </span>
                                            <input type="text" value="{$se_val|default=''}" id="search_text" name="val" class="am-form-field" placeholder="请输入联系电话(必须是数字)" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();">
                                        </div>
                                    </form>
                                </div>
                                <!-- 搜索 end-->
                            </div>

                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>昵称</th>
                                        <th>联系电话</th>
                                        <th>地址</th>
                                        <th>最后登录时间</th>
                                        <th>最后登录IP</th>
                                        <th>账户预存金额</th>
                                        <th>用户类型</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="list" id="vo" mod="2">

                                        <tr class="gradeX" url="{:U('User/edit',array('id'=>$vo['id']))}" onclick="href(this)">
                                            <td>{$vo.id}</td>
                                            <td>{$vo.nickname}</td>
                                            <td>{$vo.username}</td>
                                            <td>{$vo.address}</td>
                                            <td>{$vo.last_login_time|date="Y-m-d H:i:s",###}</td>
                                            <td>{$vo.last_login_ip}</td>
                                            <td>{$vo.money}</td>
                                            <td>
                                                <if condition="$vo['is_wx'] eq 1">
                                                    微信用户
                                                    <else/>
                                                    普通用户
                                                </if>
                                            </td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        {$page}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="./Public/Backstage/html/footer.html" />
</body>
<script type="text/javascript">
    function href(obj){
        location.href = $(obj).attr('url');
    };

    //提交搜索事件来判断是否为空， 为空不能禁止提交
    //在此之前禁止输入数字之外的字符

</script>
</html>