<extend name="Public/base"/><block name="body"><div class="fixed-bar" id="Butler_Bar">
	<div class="item-title">
		<h3>装修管家</h3>
		<ul class="tab-base">
			<if condition="Is_Auth('Cms/Butler/index')">
			<li><a href="{:U('Cms/Butler/index')}"><span>列表</span></a></li>
			</if>
			<if condition="Is_Auth('Cms/Butler/add')">
			<li><a href="{:U('Cms/Butler/add')}"><span>新增</span></a></li>
			</if>
			<li><a class="current" href="#"><span>更新</span></a></li>
		</ul>
	</div>
</div>
<form id="Butler_Form" method="post">
<table class="table tb-type2 nobdb">
	<tbody>
			<tr>
			<td colspan="2" class="required"><label for="for_name">姓名:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="name" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["name"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_photo">照片:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><div class="t_img_box"><img src="{$_info["photo"]}" /></div><input id="img_photo_box" name="photo" value="{$_info["photo"]}" class="easyui-textbox" data-options="buttonText:'选择',buttonIcon:'iconfont icon-pic',prompt:'上传图片...',onClickButton:function(){updata_image('img_photo_box','t_img_box')}" style="width:250px;height:24px;"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_phone">手机:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="phone" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["phone"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_wechat">微信:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="wechat" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["wechat"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_level">等级:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="level" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["level"]}',multiple:false,required:false,editable:false"><option value="0" >普通</option><option value="1" >银牌</option><option value="2" >金牌</option></select></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_intro">简介:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="intro" value="{$_info["intro"]}" type="text" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:80px;"></td>
			<td class="vatop tips"></td>
		</tr>	</tbody>
	<tfoot>
		<tr class="tfoot">
			<td colspan="2"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="$('#Butler_Form').submit();" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">提交</span></a></td>
		</tr>
	 </tfoot>
</table>
<input name="id" type="hidden" value="{:I('get.id')}" />
</form></block>