<extend name="Public/base"/><block name="body"><div class="fixed-bar" id="Brand_Bar">
	<div class="item-title">
		<h3>品牌</h3>
		<ul class="tab-base">
			<if condition="Is_Auth('Cms/Brand/index')">
			<li><a href="{:U('Cms/Brand/index')}"><span>列表</span></a></li>
			</if>
			<if condition="Is_Auth('Cms/Brand/add')">
			<li><a href="{:U('Cms/Brand/add')}"><span>新增</span></a></li>
			</if>
			<li><a class="current" href="#"><span>更新</span></a></li>
		</ul>
	</div>
</div>
<form id="Brand_Form" method="post">
<table class="table tb-type2 nobdb">
	<tbody>
			<tr>
			<td colspan="2" class="required"><label for="for_name">名称:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="name" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["name"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_icon">图标:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><div class="t_img_box"><img src="{$_info["icon"]}" /></div><input id="img_icon_box" name="icon" value="{$_info["icon"]}" class="easyui-textbox" data-options="buttonText:'选择',buttonIcon:'iconfont icon-pic',prompt:'上传图片...',onClickButton:function(){updata_image('img_icon_box','t_img_box')}" style="width:250px;height:24px;"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_sort">排序:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="sort" value="{$_info["sort"]}" type="text" class="easyui-numberbox" style="height:30px;" data-options="precision:'0',decimalSeparator:'.',groupSeparator:',',required:false"></td>
			<td class="vatop tips"></td>
		</tr>	</tbody>
	<tfoot>
		<tr class="tfoot">
			<td colspan="2"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="$('#Brand_Form').submit();" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">提交</span></a></td>
		</tr>
	 </tfoot>
</table>
<input name="id" type="hidden" value="{:I('get.id')}" />
</form></block>