<extend name="Public/base"/><block name="body"><div class="fixed-bar" id="Member_Bar">
	<div class="item-title">
		<h3>用户管理</h3>
		<ul class="tab-base">
			<if condition="Is_Auth('Cms/Member/index')">
			<li><a href="{:U('Cms/Member/index')}"><span>列表</span></a></li>
			</if>
			<if condition="Is_Auth('Cms/Member/add')">
			<li><a href="{:U('Cms/Member/add')}"><span>新增</span></a></li>
			</if>
			<li><a class="current" href="#"><span>更新</span></a></li>
		</ul>
	</div>
</div>
<form id="Member_Form" method="post">
<table class="table tb-type2 nobdb">
	<tbody>
			<tr>
			<td colspan="2" class="required"><label for="for_username">用户名:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="username" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["username"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_nickname">昵称/姓名:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="nickname" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["nickname"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_password">密码:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="password" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["password"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_email">邮箱:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="email" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["email"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_phone">手机:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="phone" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["phone"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_head_img">头像:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><div class="t_img_box"><img src="{$_info["head_img"]}" /></div><input id="img_head_img_box" name="head_img" value="{$_info["head_img"]}" class="easyui-textbox" data-options="buttonText:'选择',buttonIcon:'iconfont icon-pic',prompt:'上传图片...',onClickButton:function(){updata_image('img_head_img_box','t_img_box')}" style="width:250px;height:24px;"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_status">状态:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="status" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["status"]}',multiple:false,required:false,editable:false"><option value="0" >禁用</option><option value="1" >启用</option></select></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_realname">真实姓名:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="realname" type="text" class="easyui-textbox" style="height:30px;" value="{$_info["realname"]}" data-options="required:false"></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_sex">性别:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><select name="sex" class="easyui-combobox" style="height:30px;" data-options="value:'{$_info["sex"]}',multiple:false,required:false,editable:false"><option value="0" >男</option><option value="1" >女</option></select></td>
			<td class="vatop tips"></td>
		</tr>		<tr>
			<td colspan="2" class="required"><label for="for_address">装修地址:</label></td>
		</tr>
		<tr class="noborder">
			<td class="vatop rowform"><input name="address" value="{$_info["address"]}" type="text" class="easyui-textbox" data-options="required:false,multiline:true" style="width:300px; height:80px;"></td>
			<td class="vatop tips"></td>
		</tr>	</tbody>
	<tfoot>
		<tr class="tfoot">
			<td colspan="2"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="$('#Member_Form').submit();" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">提交</span></a></td>
		</tr>
	 </tfoot>
</table>
<input name="id" type="hidden" value="{:I('get.id')}" />
</form></block>