html, body {height: 100%;margin: 0 auto;max-width: 640px;position: relative;background: #f4f4f4;}
.swiper-slide a:hover{color:#8aaf97 !important;font-size: 18px !important;}
.gs-material{margin-top: 5px;background: #ffffff;}
.gs-material li{float: left;width: 50%;border:1px solid #EEEEEE;}
.recommend a{display: block;position: relative;}
.recommend-detail{position: absolute;top:10%;left:20%;color: #ffffff;}
.recommend-detail h4{font-size: 16px;line-height: 20px;overflow: hidden;text-overflow: ellipsis;}
.recommend-detail p{font-size:14px;line-height: 20px;overflow: hidden;text-overflow: ellipsis;}
.col051b28{color: #051b28;}
.col9a9a9a{color: #9a9a9a;}
.HOT{border-radius: 100%;width: 45px;height: 45px;line-height: 14px;
display: inline-block;background: #ff585c;color: #fff;padding: 10px 0;text-align: center;}
.material-list li{float: left;width:25%;border:1px solid #EEEEEE;background: #ffffff;text-align: center;padding:5px;}
.material-list li p {text-align: center;line-height: 20px;color: #051b28;font-size: 14px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.material-list li span{color: #b5b5b5;}
.material-list li{border-top: none;border-right: none;}
.material-list{border-right:1px solid #EEEEEE;}
.gs-floor-bn a img,.ps-floor-bn a img, .qd-floor-bn a img, .njj-floor-bn a img, .bc-floor-bn a img, .qt-floor-bn a img, .recommend a img, .material-list li a img{width: 100%;}





.area {position: relative;}
.area .pz-info{position: absolute;bottom:10%;left:2%;background:rgba(160,135,110,0.6);border-radius: 8px;padding: 15px;color: #fff;width:90%;}
.area .pz-info p{line-height: 25px;height: 25px;}
.area .pz-info span{float: right;font-size: 18px;}
.pz-list ul li{float:left;width:16.66666%;text-align: center;padding: 0 5px;}
.pz-list ul li span{display: block;}
.pz-list{padding: 15px 0;background: #fff;}
.pz-area {text-align: center;}
.pz-step{margin: 15px 0;}
.step1{background: #fff;padding:15px 20px 20px 20px;}
/*.step1-pad{padding-top: 50px }*/
.mart20{margin-top: 20px;}
.step1 h4{border-left: 3px solid #d42d36;font-size: 16px; text-indent: 5px;margin-bottom: 10px;}
.step1 p{line-height: 25px;font-size: 14px;}
.step1 .step-detail{margin-top: 10px;width:100%;}

/*m-gxh*/
.gxh-item{position: relative;}
.gxh-info{position: absolute;bottom:10%;width:65%;left:18%;padding:5%}
.gxh-box1{background-color:rgba(160,135,110,0.6);}
.gxh-box2{background-color: rgba(207,81,46,0.6);}
.gxh-box3{background-color: rgba(126,92,68,0.6);}
.gxh-box4{background-color: rgba(187,171,144,0.6);}
.gxh-info h5{color: #fff;text-align: center;margin-bottom: 10px;}
.gxh-info p{border-top: 1px solid #fff;padding-top:15px;margin-bottom: 15px;}
.gxh-info span{color:#fff;display: block;border: 1px solid #fff;width:40%;margin: 0 auto;padding:2%;text-align: center;}
