<include file="./Public/Home/html/head.html" />
<include file="./Public/Home/html/banner.html" />
<include file="./Public/Home/html/nav.html" />
<div class="middle1200 aqij-main">
    <include file="./Public/Home/html/search.html" />
    <div class="item-txt">
        <h2 class="color-338cce font18 text-center ">{$info.title}</h2>
        <div class="text-right font15 color-666 line30">标签：{$info.tag} <span class="marl40">{$info.create_time|date='Y-m-d',###}</span></div>
        <p>{$info.content|htmlspecialchars_decode}</p>
    </div>
    <!-- <div class="next-p">
        <p><label>上一篇：</label><a href="#">法规概述法规概述 法规概述 法规概述 法规概述 法规概述法规概述</a> </p>
        <p><label>上一篇：</label><a href="#">法规概述法规概述 法规概述 法规概述 法规概述 法规概述法规概述</a> </p>
    </div> -->
</div>
<include file="./Public/Home/html/footer.html" />
