<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>别装了</title>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" href="__CSS__/biezhuangle.css">
    <link rel="shortcut icon" href="/Uploads/important/bitbug_favicon.ico" type="image/x-icon" />
    <script src="__JS__/jquery.js"></script>
    <script src="__JS__/jquery.lazyload.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/swiper.jquery.min.js"></script>
</head>
<body>
<header class="nav-top xs">
   <div style="width: 1300px;background: #1494eb;margin: 0 auto;">
       <img src="__IMG__/nav-top.png" alt=""style="width: 1200px;">
       <a href="{:('store/index')}" style="color: #ffffff;text-decoration: none;">合作伙伴登录</a>
   </div>
</header>
<div class="list-img" >
    <div class="list-img-part">
        <!--<img src="__IMG__/list-1-logo.png" alt="">-->
        <div style="height: 30px;"></div>
        <h1 style="font-size: 40px;">别装了App</h1>
        <div style="height: 30px;"></div>
        <p style="font-size: 20px;">用互联网思维和互联网软件来提升装饰家居行业运营效率，用互联网进行资源整合、实现资源共享共赢。</p>
        <p style="font-size: 20px;">颠覆传统服务模式，消除中间服务环节。</p>
        <p style="font-size: 20px;">帮助业界内人士插上互联网的翅膀，降低装饰公司、建材公司，联盟建材机构等运营成本。</p>
        <p style="font-size: 20px;">为广大业主创造价值,让业主用最少的钱装出最满意的房子。</p>
    </div>
</div>
<div class="list-img-2">
    <div class="list-img-2-part">
        <h1>开启品质家装新模式</h1>
        <p>“别装了”开创性的设计开发出装修行业生产力效率提升工具“别装了App”软件，</p>
        <p>根据行业发展特性，客户群体消费习惯，可以逐步解决装修行业八大痛点问题。</p>
        <img src="__IMG__/list-2-top.png" alt="" class="list-img-2-top-img">
        <img src="__IMG__/list-2-left.png" alt="" class="list-img-2-left-img">
        <img src="__IMG__/list-2-moddle.png" alt="" class="list-img-2-moddle-img">
        <img src="__IMG__/list-2-right.png" alt="" class="list-img-2-right-img">
    </div>
</div>
<div class="list-img-3">
    <div class="list-img-3-part">
        <div id="list-img-3-part-title">
            <h1>别装了App改变家装行业</h1>
            <p>“别装了”由资深装饰和互联网行业人士共同发起成立，于2017年5月10日上线运营。“别装了”把“引领互联网装修市场，规范业界内发展标准，</p>
            <p>让装修变得更简单”作为核心理念，致力于用互联网思维和互联网软件来提升装饰家居行业运营效率，</p>
            <p>用互联网进行资源整合、实现资源共享共赢，颠覆传统服务模式，消除中间服务环节。</p>
        </div>
        <div id="list-img-3-part-pin">
            <img src="__IMG__/list-3-pin1.png" alt="">
            <img src="__IMG__/list-3-pin2.png" alt="">
        </div>
    </div>
</div>
<div class="list-img-4" >
    <div class="list-img-4-part">
        <div id="list-img-4-part-title">
            <h1>先装修后付款，首家开创装修支付宝功能</h1>
            <p>真正实现“先装修、后验收、合格后、再付款”，让业主做到“省心选、放心装”。有效解决了业主对装修公司及材料商不信任问题。</p>
            <p>“别装了App”为会员提供“装修支付宝”服务，会员只需要在“会员账户”上预存装修合同1/15的预付款，</p>
            <p>装饰公司就可以按照15个节点进行施工，每个节点施工完毕，业主通过验收后，向装饰公司支付1/15的合同款，装饰公司进行下一个施工节点，</p>
            <p>真正做到了让业主无后顾之忧。</p>
        </div>
        <div class="list-img-4-part-img">
            <div id="list-img-4-part-left"><img src="__IMG__/list-4-left.png" alt=""></div>
            <div id="list-img-4-part-right"><img src="__IMG__/list-4-right.png" alt=""></div>
        </div>
    </div>
</div>
<div class="list-img-5">
    <div class="list-img-5-part">
        <div id="list-img-5-part-title">
            <h1>装修预算宝，自助选材，自动报价，免费</h1>
            <p>“别装了App”给出装修预算基准价，在基准价基础上业主通过“自助选材”功能，方便快捷的选择自己喜欢的建材，系统自动给出预算总价，</p>
            <p>业主只需要核对自己选择的建材是否满意，真正实现让业主“简单清晰的确定装修预算”，自己做主选用，避免行业灰色收入。</p>
        </div>
        <div class="list-img-5-part-img">
            <div id="list-img-5-part-left"><img src="__IMG__/list-5-phone1.png" alt=""></div>
            <div id="list-img-5-part-middle"><img src="__IMG__/list-5-phone2.png" alt=""></div>
            <div id="list-img-5-part-right"><img src="__IMG__/list-5-phone3.png" alt=""></div>
        </div>
    </div>
</div>
<div class="list-img-6">
    <div class="list-img-6-part">
        <div id="list-img-6-part-title">
            <h1>第三方监理，保驾护航</h1>
            <p>“监理小哥”服务可以有效减少业主在装修中监管的时间成本，真正做到让业主“不影响工作，不影响生活”实时掌握施工现场。</p>
            <p>别装了”会员选择“别装了”整装服务，“别装了”赠送“第三方监理小哥”服务，为会员提供专业的“咨询、监理、验收 ”服务，真正让广大业主享受到专业人士的服务。</p>
        </div>
        <div class="list-img-6-part-img">
            <div id="list-img-6-part-left"><img src="__IMG__/list-6-phone1.png" alt=""></div>
            <div id="list-img-6-part-middle"><img src="__IMG__/list-6-phone2.png" alt=""></div>
            <div id="list-img-6-part-right"><img src="__IMG__/list-6-phone3.png" alt=""></div>
            <div id="list-img-6-part-right2"><img src="__IMG__/list-6-phone4.png" alt=""></div>
        </div>
    </div>
</div>
<div class="list-img-7">
    <div class="list-img-7-part">
        <div id="list-img-7-part-title">
            <h1>线上自助选材，个性化标准整装服务机构</h1>
            <p>“别装了App”线上展示数千件建材、数十家装饰公司，建立基于699价格的个性化标准整装体系，方便业主根据自家房屋详细情况，</p>
            <p>根据不同居住空间自助选配材料，根据自己的喜好和经济选定标准、加价或减价产品，真正的自己做主选材，避免行业灰色收入。</p>
            <p>同时建立装饰公司的信用和评价体系，根据往届客户评论和在施中工地选择最佳的装饰公司进行服务。</p>
        </div>
    </div>
</div>
<div class="list-img-8">
    <div class="list-img-8-part">
        <div id="list-img-8-part-title">
            <h1>解决装修过程中材料的不环保</h1>
            <p>所有平台上合作的装饰公司服务中所用的基材，都是有平台统一审核采供的一线欧美品牌，厂家统一配备直供。</p>
            <p>（圣伐班杰克的板材，保利管材电线，德国都芳漆，西卡防水等）避免装饰公司服务中使用不合格材料施工、环保不达标，恶性获利等现象。</p>
        </div>
        <div id="list-img-8-part-bottom1">
            <img src="__IMG__/list-8-img1.png" alt="">
        </div>
        <div id="list-img-8-part-bottom2">
            <img src="__IMG__/list-8-img2.png" alt="">
        </div>
        <div id="list-img-8-part-bottom3">
            <img src="__IMG__/list-8-img3.png" alt="">
        </div>
        <div id="list-img-8-part-bottom4">
            <img src="__IMG__/list-8-img4.png" alt="">
        </div>
    </div>
</div>
<div class="list-img-9">
    <div class="list-img-9-part">
        <div id="list-img-9-part-title">
            <h1>统一施工标准，进行公开监督</h1>
            <p>“别装了App”清晰明了的展示15个节点的施工工艺和安装工艺，方便业主更清晰了解装修，以及可以和设计师进行有效沟通；</p>
            <p>“别装了App”系统平台推出行业标准化施工标准，让每一个施工工地的施工节点都严格把关，统一的施工标准、</p>
            <p>统一的验收标准、公开的安装标准避免了验收和施工中因不懂而产生的纠纷，使装饰行业发展变得更规范，让业主用最少的钱装出最满意的房子。</p>
        </div>
        <div id="list-img-9-part-img">
            <img src="__IMG__/list-9-img.png" alt="">
        </div>
    </div>
</div>
<div class="list-img-10">
    <div class="list-img-10-part">
        <div id="list-img-10-part-title">
            <div id="list-img-10-part-title1">
                <h1>售后无保障和装修资料保存终身云储存</h1>
                <p>“别装了”系统自身具备云储存功能，用户在服务中签订的装修合同、效果图、施工图、节点照片、验收照片，在系统里都能合理有效保存，服务完毕后，</p>
                <p>无论是装修公司的售后承诺，还是隐蔽工程的维修维护，都能有效的提取证据及数据资料。</p>
            </div>
            <div id="list-img-10-part-title2">
                <h1>解决装修公司及主材商运营和获客成本</h1>
                <p>业界内同仁在目前行业竞争大、运作成本高、客户开发无优势、人员管理难都束手无策。</p>
                <p>“别装了”响应国家发展互联网+，万众创新推动发展新型模式，结合行业规律，布局线上线下融合发展，线上云储存空间可以有效降低装饰公司及材料商的材料展厅费用、</p>
                <p>人员管理费用，方便进行透明化管理工地，搭建互赢互利的服务桥梁。</p>
            </div>
        </div>
        <div id="list-img-10-part-img">
            <div id="list-img-10-part-img1"><img src="__IMG__/list-10-img5.png" alt=""></div>
            <div id="list-img-10-part-img2"><img src="__IMG__/list-10-img3.png" alt=""></div>
            <div id="list-img-10-part-img3"><img src="__IMG__/list-10-img1.png" alt=""></div>
            <div id="list-img-10-part-img4"><img src="__IMG__/list-10-img2.png" alt=""></div>
            <div id="list-img-10-part-img5"><img src="__IMG__/list-10-img4.png" alt=""></div>
        </div>
    </div>
</div>
<footer class="nav-footer" id="dh10">
    <div class="nav-footer-part1">
        <div class="nav-footer-part1-left">
            <!--<ul>-->
                <!--<li class="nav-footer-part1-left-li-top">-->
                    <!--首页-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--招贤纳士-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--招商加盟-->
                <!--</li>-->
            <!--</ul>-->
            <!--<ul>-->
                <!--<li class="nav-footer-part1-left-li-top">-->
                    <!--App-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--安卓下载-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--苹果下载-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--使用说明-->
                <!--</li>-->
            <!--</ul>-->
            <!--<ul>-->
                <!--<li class="nav-footer-part1-left-li-top">-->
                    <!--关于我们-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--公司简介-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--公司地址-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--业务范围-->
                <!--</li>-->
            <!--</ul>-->
            <!--<ul>-->
                <!--<li class="nav-footer-part1-left-li-top">-->
                    <!--特色服务-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--施工工艺-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--验收标准-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--付款标准-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--在线预算-->
                <!--</li>-->
                <!--<li class="nav-footer-part1-left-li-bottom">-->
                    <!--在线选材-->
                <!--</li>-->
            <!--</ul>-->
            <div class="clearfix"></div>
        </div>
        <div class="nav-footer-part1-right">
            <img src="__IMG__/bottom-photo.png" alt="">
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="nav-footer-part2">
        <p>Copyright @ 2017 改造家 All rights reserved.</p>
    </div>
</footer>
</body>
<script>
    $(document).ready(function(){
        $(".list-img-part").addClass("top");
        $(".list-img-2-top-img").addClass("left");
        $(".list-img-2-moddle-img").addClass("top2");
        $(".list-img-2-left-img").addClass("bottom1");
        $(".list-img-2-right-img").addClass("bottom2");
    });

    function gdjz(div,cssname,offset){
        var a,b,c,d;
        d=$(div).offset().top;
        a=eval(d + offset);
        b=$(window).scrollTop();
        c=$(window).height();
        if(b+c>a){
            $((div)).addClass((cssname));
        }
    }

    $(document).ready(function(e) {
        $(window).scroll(function(){
                    gdjz("#list-img-3-part-title",'titleleft',100);
                    gdjz("#list-img-3-part-pin",'phototop',100);
                    gdjz("#list-img-4-part-title",'xz2',100);
                    gdjz("#list-img-4-part-left","right",100);
                    gdjz("#list-img-4-part-right",'bottom3',-100);
                    gdjz("#list-img-5-part-title",'xz2',100);
                    gdjz("#list-img-5-part-left",'left3',100);
                    gdjz("#list-img-5-part-middle",'left4',100);
                    gdjz("#list-img-5-part-right",'left5',100);
                    gdjz("#list-img-6-part-title",'xz2',100);
                    gdjz("#list-img-6-part-left",'list6-left',100);
                    gdjz("#list-img-6-part-middle",'list6-left2',100);
                    gdjz("#list-img-6-part-right",'list6-left3',50);
                    gdjz("#list-img-6-part-right2",'list6-left4',50);
                    gdjz("#list-img-7-part-title",'xz2',100);
                    gdjz("#list-img-8-part-title",'xz2',100);
                    gdjz("#list-img-8-part-bottom1",'left3',100);
                    gdjz("#list-img-8-part-bottom2",'left3',100);
                    gdjz("#list-img-8-part-bottom3",'left3',100);
                    gdjz("#list-img-8-part-bottom4",'left3',100);
                    gdjz("#list-img-9-part-title",'xz2',100);
                    gdjz("#list-img-9-part-img",'list9-top',100);
                    gdjz('#list-img-10-part-title','xz2',100);
                    gdjz("#list-img-10-part-img1",'list10-top1',100);
                    gdjz("#list-img-10-part-img2",'list10-top2',100);
                    gdjz("#list-img-10-part-img3",'list10-top3',100);
                    gdjz("#list-img-10-part-img4",'list10-top2',100);
                    gdjz("#list-img-10-part-img5",'list10-top1',100);
                    gdjz("#dh10",'xz2',100);
                }

                /*var a,b,c;
                 a=$("#dh").offset().top;//元素相对于窗口的距离
                 b=$(window).scrollTop(); //监控窗口已滚动的距离;
                 c=$(document).height();//整个文档的高度
                 d=$(window).height();//浏览器窗口的高度*/

                /*if(d+b>a+100){
                 $("#dh").addClass("xz");
                 }
                 */
        );
    });
</script>
</html>