<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>辅材</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__CSS__/lan.css">
    <link rel="stylesheet" href="__CSS__/material.css">
    <link rel="stylesheet" href="__CSS__/module.css">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/swiper.jquery.min.js"></script>
    <script src="__JS__/TouchSlide.js"></script>
    <script src="__JS__/jquery.SuperSlide.js"></script>
    <script src="__JS__/jquery.flexslider-min.js"></script>
</head>
<body>
<ul class="fucai-list">
	<li class="fucai-li-l"><img src="__IMG__/m-fc-banner-gs.jpg" alt=""></li>
    <li class="fucai-li-l"><img src="__IMG__/1497355288(1).jpg" alt=""></li>
    <li class="clearfix"></li>
    <li class="fucai-li-s">
        <img src="__IMG__/45°弯头.jpg" alt="">
        <p>45°弯头</p>
    </li>
    <li class="fucai-li-s">
        <img src="__IMG__/90°弯头.jpg" alt="">
        <p>90°弯头</p>
    </li>
    <li class="fucai-li-s">
        <img src="__IMG__/抗菌PP-R暗阀.jpg" alt="">
        <p>抗菌PP-R暗阀</p>
    </li>
    <li class="fucai-li-s">
        <img src="__IMG__/抗菌截止阀.jpg" alt="">
        <p>抗菌截止阀</p>
    </li>
    <li class="clearfix"></li>
    <li class="fucai-li-s">
        <img src="__IMG__/抗菌内丝活接.jpg" alt="">
        <p>抗菌内丝活接</p>
    </li>
    <li class="fucai-li-s">
        <img src="__IMG__/抗菌内丝接头.jpg" alt="">
        <p>抗菌内丝接头</p>
    </li>
    <li class="fucai-li-s">
        <img src="__IMG__/抗菌内丝三通.jpg" alt="">
        <p>抗菌内丝三通</p>
    </li>
    <li class="fucai-li-s">
        <img src="__IMG__/抗菌内丝弯头.jpg" alt="">
        <p>抗菌内丝弯头</p>
    </li>
    <li class="clearfix"></li>
    <li class="fucai-li-s">
        <img src="__IMG__/抗菌球阀 C.jpg" alt="">
        <p>抗菌球阀 C</p>
    </li>
    <li class="fucai-li-s">
        <img src="__IMG__/抗菌球阀D.jpg" alt="">
        <p>抗菌球阀D</p>
    </li>
    <li class="fucai-li-s">
        <img src="__IMG__/抗菌三通接头.jpg" alt="">
        <p>抗菌三通接头</p>
    </li>
    <li class="fucai-li-s">
        <img src="__IMG__/抗菌套管接头.jpg" alt="">
        <p>抗菌套管接头</p>
    </li>
    <li class="clearfix"></li>
    <li class="fucai-li-l"><img src="__IMG__/1497355380(1).jpg" alt=""></li>
    <li class="clearfix"></li>
    <li class="fucai-li-mm"><img src="__IMG__/1497355551(1).jpg" alt=""></li>
    <li class="fucai-li-ss"><img src="__IMG__/抗菌绕曲管.jpg" alt=""><p>抗菌绕曲管</p></li>
    <li class="fucai-li-ss"><img src="__IMG__/抗菌双联内丝弯头.jpg" alt=""><p>抗菌双联内丝弯头</p></li>
    <li class="clearfix"></li>
    <li class="fucai-li-sl">
        <img src="__IMG__/抗菌外丝活接.jpg" alt="">
        <p>抗菌外丝活接</p>
    </li>
    <li class="fucai-li-sl">
        <img src="__IMG__/抗菌外丝接头.jpg" alt="">
        <p>抗菌外丝接头</p>
    </li>
    <li class="fucai-li-sl">
        <img src="__IMG__/抗菌外丝三通.jpg" alt="">
        <p>抗菌外丝三通</p>
    </li>
    <li class="clearfix"></li>
    <li class="fucai-li-l"><img src="__IMG__/1497355404(1).jpg" alt=""></li>
    <li class="fucai-li-sl">
        <img src="__IMG__/抗菌外丝弯头.jpg" alt="">
        <p>抗菌外丝弯头</p>
    </li>
    <li class="fucai-li-sl">
        <img src="__IMG__/抗菌新型整体管卡.jpg" alt="">
        <p>抗菌新型整体管卡</p>
    </li>
    <li class="fucai-li-sl">
        <img src="__IMG__/抗菌异径接头.jpg" alt="">
        <p>抗菌异径接头</p>
    </li>
    <li class="clearfix"></li>
    <li class="fucai-li-sl">
        <img src="__IMG__/抗菌异径三通.jpg" alt="">
        <p>抗菌异径三通</p>
    </li>
    <li class="fucai-li-sl">
        <img src="__IMG__/抗菌异径弯头.jpg" alt="">
        <p>抗菌异径弯头</p>
    </li>
    <li class="fucai-li-sl">
        <img src="__IMG__/抗菌注塑绕曲管.jpg" alt="">
        <p>抗菌注塑绕曲管</p>
    </li>
    <li class="clearfix"></li>
    <li class="fucai-li-l"><img src="__IMG__/1497355635(1).jpg" alt=""></li>
</ul>
<div class="njj-floor" id="Jz">
    <div class="njj-floor-bn">
        <a href="#"><img src="__IMG__/m-fc-banner-njj.jpg" alt=""></a>
    </div>
    <div class="gs-material">
        <ul class="recommend-floor clearfix">
            <li>
                <div class="recommend">
                    <a>
                        <img src="__IMG__/jiemianji-1.jpg">
                        <p class="recommend-detail col051b28">
                            百汇建材
                            <br>
                            <span class="col9a9a9a">界面剂</span>
                            <br>
                            <span class="HOT">热门<br><small>HOT</small></span>
                        </p>
                    </a>
                </div>
            </li>
            <li>
                <div class="recommend">
                    <a>
                        <img src="__IMG__/qianfengji-1.jpg">
                        <p class="recommend-detail col051b28">
                            百汇建材
                            <br>
                            <span class="col9a9a9a">嵌缝剂</span>
                        </p>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="material-list clearfix">
            <li>
                <p>百汇建材界面剂
                    <br>
                    <!--<span>规格：1L</span></p>-->
                <a><img src="__IMG__/jiemianji-2.jpg"></a>
            </li>
            <li>
                <p>百汇建材嵌缝剂
                    <br>
                    <!--<span>规格：2kg</span></p>-->
                <a><img src="__IMG__/qianfengji-2.jpg"></a>
            </li>
            <li>
                <p>百汇建材</b> 腻子
                    <br>
                    <!--<span>规格：不限</span></p>-->
                <a><img src="__IMG__/nizi.jpg"></a>
            </li>
            <li>
                <p>马贝增强型石材玻化砖粘接剂
                    <br>
                    <!--<span>规格：5kg</span></p>-->
                <a><img src="__IMG__/nianjieji-1.jpg"></a>
            </li>
        </ul>
    </div>
</div>
<div class="bc-floor" id="Bc">
    <div class="bc-floor-bn">
        <a href="#"><img src="__IMG__/m-fc-nanner-bc.jpg" alt=""></a>
    </div>
    <div class="gs-material">
        <ul class="recommend-floor clearfix">
            <li>
                <div class="recommend">
                    <a>
                        <img src="__IMG__/shuiniban-1.jpg">
                        <p class="recommend-detail col051b28">
                            百汇建材
                            <br>
                            <span class="color-fff">水泥板</span>
                            <br>
                            <span class="HOT">热门<br><small>HOT</small></span>
                        </p>
                    </a>
                </div>
            </li>
            <li>
                <div class="recommend">
                    <a>
                        <img src="__IMG__/shigaoban-1.jpg">
                        <p class="recommend-detail col051b28">
                            百汇建材
                            <br>
                            <span class="color-fff">石膏板</span>
                        </p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="qt-floor" id="Qt">
    <div class="qt-floor-bn">
        <a href="#"><img src="__IMG__/m-fc-banner_qt.jpg" alt=""></a>
    </div>
    <div class="gs-material">
        <ul class="recommend-floor clearfix">
            <li>
                <div class="recommend">
                    <a>
                        <img src="__IMG__/zigongsi.jpg">
                        <p class="recommend-detail col051b28">
                            百汇建材
                            <br>
                            <span class="col9a9a9a">圣戈班杰科自攻丝</span>
                            <br>
                            <span class="HOT">热门<br><small>HOT</small></span>
                        </p>
                    </a>
                </div>
            </li>
            <li>
                <div class="recommend">
                    <a>
                        <img src="__IMG__/osb.png">
                        <p class="recommend-detail col051b28">
                            百汇建材
                            <br>
                            <span class="col9a9a9a">穆力赛OSB板</span>
                        </p>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="material-list clearfix">
            <li>
                <p>百汇建材</b> 圣戈班杰科自攻丝
                    <br>
                    <!--<span>规格(mm):35*2.5</span></p>-->
                <a><img src="__IMG__/zigongsi.jpg"></a>
            </li>
            <li>
                <p>百汇建材</b> 穆力赛OSB板
                    <br>
                    <!--<span>规格(mm):不限</span></p>-->
                <a><img src="__IMG__/osb.png"></a>
            </li>
            <li>
                <p>加州</b> 乳胶漆
                    <br>
                    <!--<span>规格(mm): 19L</span></p>-->
                <a><img src="__IMG__/rujiaoqi-1.jpg"></a>
            </li>
            <li>
                <p>加州</b> 乳胶漆
                    <br>
                    <!--<span>规格(mm): 19L</span></p>-->
                <a><img src="__IMG__/rujiaoqi-2.jpg"></a>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if(clientWidth>=640){
                    docEl.style.fontSize = '100px';
                }else{
                    docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                }
            };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);

</script>
</html>