<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>安装</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__CSS__/lan.css">
    <link rel="stylesheet" href="__CSS__/material.css">
    <link rel="stylesheet" href="__CSS__/module.css">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/swiper.jquery.min.js"></script>
    <script src="__JS__/TouchSlide.js"></script>
    <script src="__JS__/jquery.SuperSlide.js"></script>
    <script src="__JS__/jquery.flexslider-min.js"></script>
</head>
<body>
<!--<header>
    <div class="col"><a href="index.html"><img src="__IMG__/back-arrow.png" alt="" style="width: 10%;"></a></div>
    <div class="col text-center logo"><a class="font16"  style="color: #000000;" href="#">安装</a></div>
    <div class="clearfix"></div>
</header>-->
<style>
    .az-tab .hd{  width:100%; height: 43px; overflow-x: scroll;}
    .az-tab .hd ul{ width: 800px; height: 43px;  position: relative;}
    .az-tab .hd ul li{width:10%;}
</style>

<div class="mainContent">
    <img src="__IMG__/azbanner.jpg" class="img-responsive" alt="">
    <div class="bg-fff mart10">
        <div id="tabBox1" class="tabBox az-tab">
            <div class="hd">
                <ul>
                    <li><a href="javascript:void(0)">水路安装</a></li>
                    <li><a href="javascript:void(0)">电路安装</a></li>
                    <li><a href="javascript:void(0)">防水工艺</a></li>
                    <li><a href="javascript:void(0)">瓦工工艺</a></li>
                    <li><a href="javascript:void(0)">木工工艺</a></li>
                    <li><a href="javascript:void(0)">石膏线工艺</a></li>
                    <li><a href="javascript:void(0)">墙面工艺</a></li>
                    <li><a href="javascript:void(0)">橱柜安装</a></li>
                    <li><a href="javascript:void(0)">灯具安装</a></li>
                    <li><a href="javascript:void(0)">吊顶安装</a></li>
                    <!--<li><a href="javascript:void(0)">洁具安装</a></li>-->
                    <!--<li><a href="javascript:void(0)">成品门安装</a></li>-->
                    <!--<li><a href="javascript:void(0)">壁纸工艺</a></li>-->
                    <!--<li><a href="javascript:void(0)">油工工艺</a></li>-->
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="bd azgf" id="tabBox1-bd"><!-- 添加id，js用到 -->
                <div class="con"><!-- 高度自适应需添加外层 -->
                    <ul>
                        <div class="titlename">
                            <img src="__IMG__/title-gzbz.jpg" width="100%">
                        </div>
                        <div class="yz">
                            <img src="__IMG__/sl_gzyz.jpg" width="100%">
                        </div>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/sl_01.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/sl_02.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/sl_03.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/sl_04.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <!--<div class="pj">-->
                            <!--<img src="__IMG__/sl_pj.jpg" width="100%">-->
                        <!--</div>-->
                        <div class="sgts">
                            <img src="__IMG__/sl_sgts.jpg" width="100%">
                        </div>
                        <div class="alsx">
                            <img src="__IMG__/sl_a1.jpg" width="100%">
                        </div>
                    </ul>
                </div>
                <div class="con"><!-- 高度自适应需添加外层 -->
                    <ul>
                        <div class="titlename">
                            <img src="__IMG__/title-gzbz.jpg" width="100%">
                        </div>
                        <div class="yz">
                            <img src="__IMG__/dlgzyz.jpg" width="100%">
                        </div>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/dl_01.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/dl_02.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/dl_03.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/dl_04.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/dl_05.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <div class="sgts">
                            <img src="__IMG__/dl_sgts.jpg" width="100%">
                        </div>
                        <div class="alsx">
                            <img src="__IMG__/dl_a1.jpg" width="100%">
                            <img src="__IMG__/dl_a2.jpg" width="100%">
                        </div>
                    </ul>
                </div>
                <div class="con"><!-- 高度自适应需添加外层 -->
                    <ul>
                        <div class="titlename">
                            <img src="__IMG__/title-azbz.jpg" width="100%">
                        </div>
                        <div class="lc">
                            <img src="__IMG__/fs_lc.jpg" width="100%">
                        </div>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/fs_01.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/fs_02.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/fs_03.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/fs_04.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <div class="tj">
                            <img src="__IMG__/fs_tj.jpg" width="100%">
                        </div>
                        <div class="sgts">
                            <img src="__IMG__/fs_sgts.jpg" width="100%">
                        </div>
                        <div class="alsx">
                            <img src="__IMG__/fs_a1.jpg" width="100%">
                        </div>
                    </ul>
                </div>
                <div class="con"><!-- 高度自适应需添加外层 -->
                    <ul>
                        <div class="titlename">
                            <img src="__IMG__/title-sglc.jpg"width="100%">
                        </div>
                        <div class="lc">
                            <img src="__IMG__/wg_lc.jpg"width="100%">
                        </div>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/wg_01.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/wg_02.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/wg_03.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/wg_04.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/wg_05.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <div class="alsx">
                            <a href="#"><img src="__IMG__/wg_a1.jpg" width="100%"></a>
                            <a href="#" ><img src="__IMG__/wg_a2.jpg"width="100%"></a>
                        </div>
                    </ul>
                </div>
                <div class="con"><!-- 高度自适应需添加外层 -->
                    <ul>
                        <div class="titlename">
                            <img src="__IMG__/title-sglc.jpg" width="100%">
                        </div>
                        <div class="gf">
                            <img src="__IMG__/mg_gf.jpg" width="100%">
                        </div>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/mg_01.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/mg_02.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/mg_03.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/mg_04.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <div class="alsx">
                            <a href="#"> <img src="__IMG__/mg_a1.jpg" width="100%"></a>
                            <a href="#"><img src="__IMG__/mg_a2.jpg" width="100%"></a>
                        </div>
                    </ul>
                </div>
                <div class="con"><!-- 高度自适应需添加外层 -->
                    <ul>
                        <div class="titlename">
                            <img src="__IMG__/title-gylc.jpg" width="100%">
                        </div>
                        <div class="lc">
                            <img src="__IMG__/sgx_lc.jpg" width="100%">
                        </div>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/sgx_01.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/sgx_02.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/sgx_03.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/sgx_04.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <div class="alsx">
                            <a href="#"><img src="__IMG__/sgx_a1.jpg" width="100%"></a>
                            <a href="#" ><img src="__IMG__/sgx_a2.jpg"width="50%" ></a>
                            <a href="#"><img src="__IMG__/sgx_a3.jpg"width="50%" style="float:right"></a>
                        </div>
                    </ul>
                </div>
                <div class="con"><!-- 高度自适应需添加外层 -->
                    <ul>
                        <div class="titlename">
                            <img src="__IMG__/title-gylc.jpg"width="100%">
                        </div>
                        <div class="lc">
                            <img src="__IMG__/yg_lc.jpg"width="100%">
                        </div>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/yg_01.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/yg_02.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/yg_03.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/yg_04.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/yg_05.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <div class="alsx">
                            <a href="#"><img src="__IMG__/yg_a1.jpg" width="100%"></a>
                            <a href="#"><img src="__IMG__/yg_a2.jpg" width="50%"></a>
                            <a href="#"><img src="__IMG__/yg_a3.jpg" width="50%" style="float: right"></a>
                        </div>
                    </ul>
                </div>
                <div class="con"><!-- 高度自适应需添加外层 -->
                    <ul>
                        <div class="titlename">
                            <img src="__IMG__/title-azbz.jpg" width="100%">
                        </div>
                        <div class="az">
                            <img src="__IMG__/cg-lbanner.jpg" width="100%">
                        </div>
                        <!-- <li>
                             <div class="model-table">
                                 <div class="model-td">
                                     <div class="tag text-center bg-fff">
                                         安装前准备
                                         <p><span>1</span></p>
                                     </div>
                                 </div>
                                 <div class="model-td ">
                                     <img src="/__IMG__/azgf01.jpg" class="img-responsive" alt="">
                                     <p>安装前对安装空间及操作区域进行现场清理。 将安装现场中的杂物以及与安装无关的物品清理出现场。</p>
                                     <img src="/__IMG__/azgf02.jpg" class="img-responsive" alt="">
                                     <p>清理现场后，将安装工具箱放置于门边靠墙角 处，首先取出垫布铺在地上，然后将工具放在垫布上。</p>
                                 </div>
                             </div>
                         </li>
                         <li>
                             <div class="model-table">
                                 <div class="model-td">
                                     <div class="tag text-center bg-fff">
                                         安装前检查
                                         <p><span>2</span></p>
                                     </div>
                                 </div>
                                 <div class="model-td ">
                                     <img src="/__IMG__/azgf03.jpg" class="img-responsive" alt="">
                                     <p>对照图纸，把产品放置在地毯上有序的拆包 验货是否有破损。 五金配件的放置要有专门的放置位置，不得随意散乱的放 置于地面。</p>
                                     <img src="/__IMG__/azgf04.jpg" class="img-responsive" alt="">
                                     <p>为了防止灰尘进入，应对橱柜内部配件进行 保护（如滑道、拉蓝等）。 验收标准：产品外表应保持完好状态，不得有碰伤、划 伤、开裂和压痕等缺陷。</p>
                                 </div>
                             </div>
                         </li>-->
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/cg_01.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/cg_02.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/cg_03.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/cg_04.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/cg_05.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/cg_06.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <div class="alsx">
                            <img src="__IMG__/cg_a1.jpg" width="100%">
                            <img src="__IMG__/cg_a2.jpg" width="100%">
                        </div>
                    </ul>
                </div>
                <div class="con"><!-- 高度自适应需添加外层 -->
                    <ul>
                        <div class="titlename">
                            <img src="__IMG__/title-azbz.jpg" width="100%">
                        </div>
                        <div class="az">
                            <img src="__IMG__/xdgaz.jpg" width="100%">
                        </div>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/dj_01.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/dj_02.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/dj_03.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <div class="az">
                            <img src="__IMG__/sdaz.jpg" width="100%">
                            <img src="__IMG__/ddaz.jpg" width="100%">
                        </div>
                    </ul>
                </div>
                <div class="con"><!-- 高度自适应需添加外层 -->
                    <ul>
                        <div class="titlename">
                            <img src="__IMG__/title-azbz.jpg" width="100%">
                        </div>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/dd_01.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/dd_02.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/dd_03.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="model-table">
                                <div class="model-td ">
                                    <img src="__IMG__/dd_04.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            TouchSlide( { slideCell:"#tabBox1",
                endFun:function(i){ //高度自适应
                    var bd = document.getElementById("tabBox1-bd");
                    bd.parentNode.style.height = bd.children[i].children[0].offsetHeight+"px";
                    if(i>0)bd.parentNode.style.transition="200ms";//添加动画效果
                }
            } );</script>
    </div>
</div>

<!--<footer>-->
    <!--<p>©2016 Youjiawang All rights reserved</p>-->
<!--</footer>-->



<script>
    $(function() {
        $('#frm_signup').submit(function(){
            $.ajax({
                type: "POST",
                url: "/index.php?m=&c=Index&a=signup",
                data: $('#frm_signup').serialize(),
                success: function(data) {
                    if(data['succes']){
                        $('#signup').modal('hide');
                    }
                    alert(data['info']);
                }
            });
            return false;
        });
    });
</script>
<div class="modal fade signup" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="frm_signup" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center" id="myModalLabel">预约报名</h3>
                <p class="text-center">只需699元/m2，全屋用上优质主材</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select name="province" id="s1" class="form-control">
                            <option>河南省</option>
                            <option>河北省</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="city" id="s2" class="form-control">
                            <option>洛阳市</option>
                            <option>郑州市</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="area" id="s3" class="form-control">
                            <option>洛龙区</option>
                            <option>涧西区</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mart15">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" name="mname" class="form-control" placeholder="请输入您的真实姓名">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                        <input type="text" name="adress" class="form-control" placeholder="请输入您的真实联系地址">
                    </div>
                </div>
                                <input type="hidden" name="reurl" value="http://www.youjiawang.com" />
                                <div class="row">
                    <div class="col-md-6 posrea">
                        <input name="aread" class="form-control" type="text">
                        <p class="pfm">㎡</p>
                    </div>
                    <div class="col-md-6">
                        <select name="types" class="form-control">
                            <option>现代中式</option>
                            <option>欧式田园</option>
                            <option>美式风格</option>
                            <option>现代简约</option>
                            <option>休闲混搭</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mart15">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                        <input type="text" name="telphone" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-danger submit">预 约</button>
                    </div>
                </div>
                <p class="text-center mart30">开创45天的洛阳本地互联网家装</p>
            </div>
        </form>
    </div>
</div>
<script src="Public/js/address.js"></script>

<!--
<script>
    $(function() {
        $('#frm_signup').submit(function(){
            $.ajax({
                type: "POST",
                url: "/index.php?m=&c=Index&a=signup",
                data: $('#frm_signup').serialize(),
                success: function(data) {
                    if(data['succes']){
                        $('#signup').modal('hide');
                    }
                    alert(data['info']);
                }
            });
            return false;
        });
    });
</script>
<div class="modal fade signup" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="frm_signup" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center" id="myModalLabel">预约报名</h3>
                <p class="text-center">只需699元/m2，全屋用上优质主材</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select name="province" id="s1" class="form-control">
                            <option>河南省</option>
                            <option>河北省</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="city" id="s2" class="form-control">
                            <option>洛阳市</option>
                            <option>郑州市</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="area" id="s3" class="form-control">
                            <option>洛龙区</option>
                            <option>涧西区</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mart15">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" name="mname" class="form-control" placeholder="请输入您的真实姓名">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                        <input type="text" name="adress" class="form-control" placeholder="请输入您的真实联系地址">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 posrea">
                        <input name="aread" class="form-control" type="text">
                        <p class="pfm">㎡</p>
                    </div>
                    <div class="col-md-6">
                        <select name="types" class="form-control">
                            <option>现代中式</option>
                            <option>欧式田园</option>
                            <option>美式风格</option>
                            <option>现代简约</option>
                            <option>休闲混搭</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mart15">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                        <input type="text" name="telphone" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-danger submit">预 约</button>
                    </div>
                </div>
                <p class="text-center mart30">开创45天的洛阳本地互联网家装</p>
            </div>
        </form>
    </div>
</div>
<script src="/Public/js/address.js"></script>


<style>
    .navbar-fixed-bottom{width: 100%; text-align: center; background: #fff;  box-shadow: 0 0 10px #ccc;}
    .navbar-fixed-bottom ul li{ width: 33.333%; float: left; line-height: 42px;}
</style>
<div class="navbar-fixed-bottom">
    <ul>
        <li>
            <a href="http://699.youjiawang.com/">首页</a>
        </li>
        <li>
            <a href="javascript:" data-toggle="modal" data-target="#signup">我要预约</a>
        </li>
        <li>
            <a href="javascript:" id="to_top" style="display: inline-block;" onclick="clickgotop()">返回顶部</a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>

<script>
    window.onload = function(){
        var oTop = document.getElementById("to_top");
        var screenw = document.documentElement.clientWidth || document.body.clientWidth;
        var screenh = document.documentElement.clientHeight || document.body.clientHeight;
        oTop.style.left = screenw - oTop.offsetWidth +"px";
        oTop.style.top = screenh - oTop.offsetHeight + "px";
        window.onscroll = function(){
            var scrolltop = document.documentElement.scrollTop || document.body.scrollTop;
            oTop.style.top = screenh - oTop.offsetHeight + scrolltop +"px";
        }
        oTop.onclick = function(){
            document.documentElement.scrollTop = document.body.scrollTop =0;
        }
    }
</script>-->
<style>
    .navbar-fixed-bottom{ width: 100%; text-align: center; background: #fff;  box-shadow: 0 0 10px #ccc;}
    .navbar-fixed-bottom ul li{ width: 33.333%; float: left; line-height: 42px;}
</style>
<!--<div style="height: 42px;"></div>-->
<!--<div class="navbar-fixed-bottom">-->
    <!--<ul>-->
        <!--<li>-->
            <!--<a href="http://699.youjiawang.com/">首页</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="javascript:" data-toggle="modal" data-target="#signup">我要预约</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="javascript:" id="to_top" style="display: inline-block;" onclick="clickgotop()">返回顶部</a>-->
        <!--</li>-->
    <!--</ul>-->
    <!--<div class="clearfix"></div>-->
<!--</div>-->

<script>
    window.onload = function(){
        var oTop = document.getElementById("to_top");
        var screenw = document.documentElement.clientWidth || document.body.clientWidth;
        var screenh = document.documentElement.clientHeight || document.body.clientHeight;
        oTop.style.left = screenw - oTop.offsetWidth +"px";
        oTop.style.top = screenh - oTop.offsetHeight + "px";
        window.onscroll = function(){
            var scrolltop = document.documentElement.scrollTop || document.body.scrollTop;
            oTop.style.top = screenh - oTop.offsetHeight + scrolltop +"px";
        }
        oTop.onclick = function(){
            document.documentElement.scrollTop = document.body.scrollTop =0;
        }
    }
</script>
</body>
</html>