<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>空间配置</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__CSS__/module.css">
    <link rel="stylesheet" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" href="__CSS__/lan.css">
    <link rel="stylesheet" href="__CSS__/material.css">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/swiper.jquery.min.js"></script>
    <script src="__JS__/TouchSlide.js"></script>
    <script src="__JS__/jquery.SuperSlide.js"></script>
    <script src="__JS__/jquery.flexslider-min.js"></script>
</head>
<body>
<!--<header> 
    <div class="col"><a href="index.html"><img src="__IMG__/back-arrow.png" alt="" style="width: 10%;"></a></div>
    <div class="col text-center logo"><a class="font16"  style="color: #000000;" href="#">空间配置</a></div>
    <div class="clearfix"></div>
</header>-->
<div id="slideBox" class="slideBox">
    <div class="bd">
        <ul>
            <li>
                <div class="area">
                    <a href="#"><img src="__IMG__/h-pzbanner03.jpg" width="100%"/></a>
                </div>
            </li>
            <li>
                <div class="area">
                    <a href="#"><img src="__IMG__/h-pzbanner04.jpg" width="100%"/></a>
                </div>
            </li>
            <li>
                <div class="area">
                    <a href="#"><img src="__IMG__/h-pzbanner02.jpg" width="100%"/></a>
                </div>
            </li>
            <li>
                <div class="area">
                    <a href="#"><img src="__IMG__/h-pzbanner01.jpg" width="100%"/></a>
                </div>
            </li>
            <li>
                <div class="area">
                    <a href="#"><img src="__IMG__/h-pzbanner05.jpg" width="100%"/></a>
                </div>
            </li>
            <li>
                <div class="area">
                    <a href="#"><img src="__IMG__/h-pzbanner06.jpg" width="100%"/></a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="hd pz-list">
        <ul>
            <li  class="on"><a class="a1" href="javascript:void(0)" ><span><img src="__IMG__/ktpz-li03.jpg" width="100%" class="img-circle"></span>客厅</a></li>
            <li><a class="a2" href="javascript:void(0)"><span><img src="__IMG__/ktpz-li04.jpg" width="100%" class="img-circle"></span>卧室</a></li>
            <li><a class="a3" href="javascript:void(0)"><span><img src="__IMG__/ktpz-li02.jpg" width="100%" class="img-circle"></span>厨房</a></li>
            <li><a class="a4" href="javascript:void(0)"><span><img src="__IMG__/ktpz-li01.jpg" width="100%" class="img-circle"></span>餐厅</a></li>
            <li><a class="a5" href="javascript:void(0)"><span><img src="__IMG__/ktpz-li05.jpg" width="100%" class="img-circle"></span>卫生间</a></li>
            <li><a class="a6" href="javascript:void(0)"><span><img src="__IMG__/ktpz-li06.jpg" width="100%" class="img-circle"></span>阳台</a></li>
        </ul>
        <div class="clearfix"></div>
        <script type="text/javascript">
            jQuery(".slideBox").slide({mainCell:".bd ul",effect:"leftLoop",autoPlay:false,delayTime:1000});
        </script>
    </div>
</div>

<div class="pz-step">
    <div class="step-list li01">
        <div class="bz-list">
            <ul>
                <li><div class="step1 step1-pad">
                    <h4>一.  顶部装饰</h4>
                    <img src="__IMG__/ktpz-step_100.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.装饰线为成品石膏线圈边。</p>
                        <p>2.如此空间进行吊顶施工，由于吊顶属个性化项目，此空间可不做石膏线，具体执行设计方案要求。</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>二.  灯饰照明</h4>
                    <img src="__IMG__/ktpz-step_11.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 吸顶灯、5-8头吊灯二选一</p>
                        <p>2. 包含送货安装</p>
                        <p>3.赠送配套光源</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>三.  墙面装饰</h4>
                    <img src="__IMG__/ktpz-step_17.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 品牌乳胶漆、壁纸二选一</p>
                        <p>2. 不限面积，全户型乳胶漆颜色超出三种为个性话定制，另计。</p>
                        <p>3. 赠送电视背景墙壁纸</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>四.  地面装饰</h4>
                    <img src="__IMG__/ktpz-step_105.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.地板、地砖二选一，不限平米</p>
                        <p>2.均为正铺，地板下铺设防潮垫，不打龙骨；</p>
                        <p>3.斜铺、拼花、瓷砖加装波打线等工艺，属于个性化项目；</p>
                        <p>4.赠送地板/地砖配套装饰踢脚线。</p>
                    </div>
                </div></li>
                <li class="pz-last"><div class="step1 mart20">
                    <h4>五.  开关插座</h4>
                    <img src="__IMG__/ktpz-step_29.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.按房屋原有开关插座点位数量进行配置；</p>
                        <p>2.含强电改造及相应面板安装；</p>
                    </div>
                </div></li>
            </ul>
        </div>
    </div>
    <div class="step-list li02" style="display: none;">
        <div class="bz-list">
            <ul>
                <li><div class="step1 step1-pad">
                    <h4>一.  顶部装饰</h4>
                    <img src="__IMG__/ktpz-step_100-1.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.装饰线为成品石膏线圈边。</p>
                        <p>2.如此空间进行吊顶施工，由于吊顶属个性化项目，此空间可不做石膏线，具体执行设计方案要求。</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>二.  灯饰照明</h4>
                    <img src="__IMG__/ktpz-step_11-1.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 品牌吸顶灯一个</p>
                        <p>2. 包含送货安装</p>
                        <p>3. 赠送配套光源</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>三.  墙面装饰</h4>
                    <img src="__IMG__/ktpz-step_17-1.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 品牌乳胶漆、壁纸二选一</p>
                        <p>2. 不限面积，全户型乳胶漆颜色超出三种为个性话定制，另计。</p>
                    </div>
                </div></li>
                <li class="step1 mart20" ><div class="step1 mart20">
                    <h4>四.  开关插座</h4>
                    <img src="__IMG__/ktpz-step_29.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.按房屋原有开关插座点位数量进行配置；</p>
                        <p>2.含强电改造及相应面板安装；</p>
                    </div>
                </div></li>
                <li class="pz-last" ><div class="step1 mart20">
                    <h4>五.  内门</h4>
                    <img src="__IMG__/ktpz-step_102.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.标准内门及安装，包含门扇、门套、门锁、合页及门吸、门洞口按标准内门尺寸找直找方；</p>
                        <p>2.标准内门改为非标准内门尺寸属于个性化，费用另计。</p>
                    </div>
                </div></li>
            </ul>
        </div>
    </div>
    <div class="step-list li03" style="display: none;">
        <div class="bz-list">
            <ul>
                <li><div class="step1 step1-pad">
                    <h4>一.  集成吊顶</h4>
                    <img src="__IMG__/ktpz-step_101.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.安装铝扣板集成吊顶依据厨房面积不限平方数，含板材、收边条等人工辅料；</p>
                        <p>2.赠送集成吊顶配套照明光源一个。</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>二.  整体橱柜</h4>
                    <img src="__IMG__/ktpz-step_106.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 地柜根据厨房面积不限延米，吊柜长度不超过地柜长度</p>
                        <p>2. 地柜为一字型或者L型，吊柜为一字型</p>
                        <p>3. 赠送单色石英石台面。</p>
                        <p>4. 赠送不锈钢材质水槽及其配套水龙和下水配件</p>
                        <p>5. 厨房生活阳台部分不配橱柜</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>三.  墙地砖</h4>
                    <img src="__IMG__/ktpz-step_107.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 墙地砖依据厨房面积不限平方，窗口使用材料同墙面瓷砖，可选择阳角线收口；集成吊顶以下墙砖满铺；</p>
                        <p>2. 墙地砖铺贴方式均为正铺，水泥砂浆常规铺贴，白色勾缝剂勾缝，门口标配过门石；</p>
                        <p>3. 含地面防水项目、含常规方式瓷砖铺贴的人工、辅料；</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>四.  开关插座</h4>
                    <img src="__IMG__/ktpz-step_29.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.按房屋原有开关插座点位数量进行配置；</p>
                        <p>2.含强电改造及相应面板安装；</p>
                    </div>
                </div></li>
                <li class="pz-last"><div class="step1 mart20">
                    <h4>五.  内门</h4>
                    <img src="__IMG__/ktpz-step_102-1.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 门洞尺寸符合标准平开门，可选择标准平开门（含门套）；</p>
                        <p>2. 门洞尺寸不符合标准平开门，定做或装双开推拉门属于个性化。</p>
                    </div>
                </div></li>
            </ul>
        </div>
    </div>
    <div class="step-list li04" style="display: none;">
        <div class="bz-list">
            <ul>
                <li><div class="step1 step1-pad">
                    <h4>一.  顶部装饰</h4>
                    <img src="__IMG__/ktpz-step_101-1.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.装饰线为成品石膏线圈边。</p>
                        <p>2.如此空间进行吊顶施工，由于吊顶属个性化项目，此空间可不做石膏线，具体执行设计方案要求。</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>二.  灯饰照明</h4>
                    <img src="__IMG__/ktpz-step_11-2.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 吸顶灯、5-8头吊灯二选一</p>
                        <p>2. 包含送货安装</p>
                        <p>3.赠送配套光源</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>三.  墙面装饰</h4>
                    <img src="__IMG__/ktpz-step_17-a.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 品牌乳胶漆、壁纸二选一</p>
                        <p>2. 不限面积，全户型乳胶漆颜色超出三种为个性话定制，另计。</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>四.  地面装饰</h4>
                    <img src="__IMG__/ktpz-step_105-1.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.地板、地砖二选一，不限平米</p>
                        <p>2.均为正铺，地板下铺设防潮垫，不打龙骨；</p>
                        <p>3.斜铺、拼花、瓷砖加装波打线等工艺，属于个性化项目；</p>
                        <p>4.赠送地板/地砖配套装饰踢脚线。</p>
                    </div>
                </div></li>
                <li class="pz-last"><div class="step1 mart20">
                    <h4>五.  开关插座</h4>
                    <img src="__IMG__/ktpz-step_29.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.按房屋原有开关插座点位数量进行配置；</p>
                        <p>2.含强电改造及相应面板安装；</p>
                    </div>
                </div></li>
            </ul>
        </div>
    </div>
    <div class="step-list li05" style="display: none;">
        <div class="bz-list">
            <ul>
                <li><div class="step1 step1-pad">
                    <h4>一.  集成吊顶</h4>
                    <img src="__IMG__/ktpz-step_101-2.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.安装铝扣板集成吊顶依据卫生间面积不限平方数，含板材、收边条等人工辅料；</p>
                        <p>2.赠送集成吊顶配套照明光源一个</p>
                        <p>3.赠送多功能品牌浴霸一个</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>二.  墙地砖</h4>
                    <img src="__IMG__/ktpz-step_105-2.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 墙地砖依据卫生间面积不限平方，窗口使用材料同墙面瓷砖，可选择阳角线收口；集成吊顶以下墙砖满铺；</p>
                        <p>2. 墙地砖铺贴方式均为正铺，水泥砂浆常规铺贴，白色勾缝剂勾缝，门口标配过门石；</p>
                        <p>3. 含地面防水项目、含常规方式瓷砖铺贴的人工、辅料；</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>三.  开关插座</h4>
                    <img src="__IMG__/ktpz-step_29.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 按房屋原有开关插座点位数量进行配置；</p>
                        <p>2. 含强电改造及相应面板安装</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>四.  内门</h4>
                    <img src="__IMG__/ktpz-step_102-2.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.标准内门及安装，包含门扇、门套、门锁、合页及门吸、门洞口按标准内门尺寸找直找方；</p>
                        <p>2.标准内门改为非标准内门尺寸属于个性化，费用另计。</p>
                    </div>
                </div></li>
                <li class="pz-last"><div class="step1 mart20">
                    <h4>五.  洁具套装</h4>
                    <img src="__IMG__/ktpz-step_103.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.地柜及镜柜一套，石英石台面（1.4延米以内）；</p>
                        <p>2.如空间实际尺寸偏小使用柱盆，</p>
                        <p>3.赠送浴室柜配套龙头及下水配件</p>
                    </div>
                </div></li>
            </ul>
        </div>
    </div>
    <div class="step-list li06" style="display: none;">
        <div class="bz-list">
            <ul>
                <li><div class="step1 step1-pad">
                    <h4>一.  顶部装饰</h4>
                    <img src="__IMG__/ktpz-step_100-2.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.装饰线为成品石膏线圈边。</p>
                        <p>2.如此空间进行吊顶施工，由于吊顶属个性化项目，此空间可不做石膏线，具体执行设计方案要求。</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>二.  灯饰照明</h4>
                    <img src="__IMG__/ktpz-step_11-3.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 品牌吸顶灯一个</p>
                        <p>2. 包含送货安装</p>
                        <p>3. 赠送配套光源</p>
                    </div>
                </div></li>
                <li><div class="step1 mart20">
                    <h4>三.  墙面装饰</h4>
                    <img src="__IMG__/ktpz-step_17-b.jpg" width="100%">
                    <div class="step-detail">
                        <p>1. 品牌乳胶漆、壁纸二选一</p>
                        <p>2. 不限面积，全户型乳胶漆颜色超出三种为个性话定制，另计。</p>
                    </div>
                </div></li>
                <li class="pz-last"><div class="step1 mart20">
                    <h4>四.  开关插座</h4>
                    <img src="__IMG__/ktpz-step_29.jpg" width="100%">
                    <div class="step-detail">
                        <p>1.按房屋原有开关插座点位数量进行配置；</p>
                        <p>2.含强电改造及相应面板安装；</p>
                    </div>
                </div></li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!--    <div class="clearfix"></div>-->
<script >
    $(function () {
        //轮播
        $(".a1").mouseover(function(){
            $(".pz-step").find(".li01").show().siblings().hide();
        })
        $(".a2").mouseover(function(){
            $(".pz-step").find(".li02").show().siblings().hide();
        })
        $(".a3").mouseover(function(){
            $(".pz-step").find(".li03").show().siblings().hide();
        })
        $(".a4").mouseover(function(){
            $(".pz-step").find(".li04").show().siblings().hide();
        })
        $(".a5").mouseover(function(){
            $(".pz-step").find(".li05").show().siblings().hide();
        })
        $(".a6").mouseover(function(){
            $(".pz-step").find(".li06").show().siblings().hide();
        })
    });
</script>



<script>
    $(function() {
        $('#frm_signup').submit(function(){
            $.ajax({
                type: "POST",
                url: "/index.php?m=&c=Index&a=signup",
                data: $('#frm_signup').serialize(),
                success: function(data) {
                    if(data['succes']){
                        $('#signup').modal('hide');
                    }
                    alert(data['info']);
                }
            });
            return false;
        });
    });
</script>
<div class="modal fade signup" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="frm_signup" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center" id="myModalLabel">预约报名</h3>
                <p class="text-center">只需699元/m2，全屋用上优质主材</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <select name="province" id="s1" class="form-control">
                            <option>河南省</option>
                            <option>河北省</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="city" id="s2" class="form-control">
                            <option>洛阳市</option>
                            <option>郑州市</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select name="area" id="s3" class="form-control">
                            <option>洛龙区</option>
                            <option>涧西区</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mart15">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" name="mname" class="form-control" placeholder="请输入您的真实姓名">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                        <input type="text" name="adress" class="form-control" placeholder="请输入您的真实联系地址">
                    </div>
                </div>
                <input type="hidden" name="reurl" value="http://www.youjiawang.com" />
                <div class="row">
                    <div class="col-md-6 posrea">
                        <input name="aread" class="form-control" type="text">
                        <p class="pfm">㎡</p>
                    </div>
                    <div class="col-md-6">
                        <select name="types" class="form-control">
                            <option>现代中式</option>
                            <option>欧式田园</option>
                            <option>美式风格</option>
                            <option>现代简约</option>
                            <option>休闲混搭</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mart15">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                        <input type="text" name="telphone" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-danger submit">预 约</button>
                    </div>
                </div>
                <p class="text-center mart30">开创45天的洛阳本地互联网家装</p>
            </div>
        </form>
    </div>
</div>
<script src="Public/js/address.js"></script>
<style>
    .navbar-fixed-bottom{ width: 100%; text-align: center; background: #fff;  box-shadow: 0 0 10px #ccc;}
    .navbar-fixed-bottom ul li{ width: 33.333%; float: left; line-height: 42px;}
</style>

<script>
    window.onload = function(){
        var oTop = document.getElementById("to_top");
        var screenw = document.documentElement.clientWidth || document.body.clientWidth;
        var screenh = document.documentElement.clientHeight || document.body.clientHeight;
        oTop.style.left = screenw - oTop.offsetWidth +"px";
        oTop.style.top = screenh - oTop.offsetHeight + "px";
        window.onscroll = function(){
            var scrolltop = document.documentElement.scrollTop || document.body.scrollTop;
            oTop.style.top = screenh - oTop.offsetHeight + scrolltop +"px";
        }
        oTop.onclick = function(){
            document.documentElement.scrollTop = document.body.scrollTop =0;
        }
    }
</script>
</body>
</html>