<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贴心服务</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/swiper.min.css">
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__CSS__/module.css">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/swiper.jquery.min.js"></script>
</head>
<body>
<!--<header>
    <div class="col"><a href="index.html"><img src="__IMG__/back-arrow.png" alt="" style="width: 10%;"></a></div>
    <div class="col text-center logo"><a class="font16"  style="color: #000000;" href="#">贴心服务</a></div>
    <div class="clearfix"></div>
</header>-->
<div class="mainContent" style="background-color: #f4f4f4;">
    <div style="margin-top: -2rem; width: 100%"><img src="__IMG__/fuwu-banner.png" alt="" style="width: 100%"></div>
    <div class="swiper-container slider" style="margin-top: -8.5rem;">
        <div style="padding: 2rem 1.5rem;background-color: #ffffff;"><h1 style="font-size: 2rem;margin-bottom: 1rem;">别装了为您定制一整套细化的装修服务</h1><p style="font-size: 1.5rem;">我们针对需求推出专项解决方案，总有一款适合您</p></div>
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="padding: 2rem 3rem;background-color: #ffffff;">
                <a href="#"><img src="__IMG__/kaigongyishi.png" class="img-responsive" alt="" style="width: 100%"></a>
            </div>
            <div class="swiper-slide" style="padding: 2rem 3rem ;background-color: #ffffff;">
                <a href="#"><img src="__IMG__/kaigongyishi.png" class="img-responsive" alt="" style="width: 100%"></a>
            </div>
            <div class="swiper-slide" style="padding: 2rem 3rem;background-color: #ffffff;">
                <a href="#"><img src="__IMG__/kaigongyishi.png" class="img-responsive" alt="" style="width: 100%"></a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div style="height: 5%;background-color: #f4f4f4;"></div>
    <div class="swiper-container slider">
        <div style="padding: 2rem 1.5rem;background-color: #ffffff;"><h1 style="font-size: 2rem; margin-bottom: 1rem; text-align: center;">核心服务亮点</h1><p style="font-size: 1.5rem;">对业主生活习惯做细致了解，加入人文关怀因素的考虑性服务</p></div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#"><img src="__IMG__/hexinfuwu-bg-l.png" class="img-responsive" alt="" style="width:60%;float: right;"></a>
            </div>
            <div class="swiper-slide">
                <a href="#"><img src="__IMG__/hexinfuwu-bg-m.png" class="img-responsive" alt="" style="width: 100%"></a>
            </div>
            <div class="swiper-slide">
                <a href="#"><img src="__IMG__/hexinfuwu-bg-r.png" class="img-responsive" alt="" style="width: 60%"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div style="width: 100%;"><img src="__IMG__/hexinfuwu-bg-s.png" alt="" style="width: 100%"></div>
    </div>
    <script>
        var swiper = new Swiper('.slider', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            loop:true,
            autoplay:3000,
            speed:600
        });
    </script>
</div>
<div style="height: 5%;background-color: #f4f4f4;"></div>
<div class="bishuishiyan">
    <img src="__IMG__/bishuishiyan-bg.png" alt="" class="bishuishiyan-bg">
    <div class="swiper-container bishui-container" style="margin-top: -125%; margin-bottom: 16%;">
        <div class="swiper-wrapper">
            <div class="swiper-slide bi-shui";>
                <img src="__IMG__/bishuishiyan.png" alt="" width="100%">
                <div>
                    <h4>闭水试验&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</h4>
                    <p>别装了</p>
                </div>
            </div>
            <div class="swiper-slide bi-shui";>
                <img src="__IMG__/bishuishiyan.png" alt="" width="100%">
                <div>
                    <h4>闭水试验&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</h4>
                    <p>别装了</p>
                </div>
            </div>
            <div class="swiper-slide bi-shui";>
                <img src="__IMG__/bishuishiyan.png" alt="" width="100%">
                <div>
                    <h4>闭水试验&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</h4>
                    <p>别装了</p>
                </div>
            </div>
        </div>
        <div style="width: 100%; text-align: right;padding: 0 2rem;">
            <img class="bishui-prev" src="__IMG__/button-left.png" alt="" style="width: 12%">
            <img class="bishui-next" src="__IMG__/button-right.png" alt="" style="width: 12%">
        </div>
    </div>
    <script>
        var mySwiper = new Swiper ('.bishui-container', {
            loop: false,
            nextButton: '.bishui-next',
            prevButton: '.bishui-prev',
        })
    </script>
</div>
<div class="fwlc-sy bg-fff text-center mart10">
    <h1 style="font-size: 2.5rem;text-align: center;padding: 2rem 0 0 0;">木作服务方案</h1>
    <p style="font-size: 1.5rem;padding: 0 1.5rem;text-align: left;">对业主生活习惯做细致了解，加入人文关怀因素的考虑型服务。</p>
    <div class="swiper-container muzuo-slide" style="position: relative;z-index: 1">
        <div class="swiper-wrapper" style="margin: 2rem 0;">
            <div class="swiper-slide s1">
                <div class="duobianxing">
                    <div>
                        <img src="__IMG__/duobianxing-1.png" class="duobianxing-1" alt="" >
                    </div>
                    <p style="display: inline-block; color: #ffffff;position: relative;top:-3.5rem;font-size: 1rem;z-index: 3000;">木工施工</p>
                </div>
                <div class="muzuo-item">
                    <img src="__IMG__/fwlcbg1.jpg" class="img-responsive" alt="">
                    <div class="mask">
                        <p>为您的爱家设计最可行、美观的设计方案沟通装修方案，有问题随时联系设计师修改</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide s2" style="margin: 1rem 0;">
                <div class="duobianxing">
                    <div>
                        <img src="__IMG__/duobianxing-1.png" class="duobianxing-1" alt="" >
                    </div>
                    <p style="display: inline-block; color: #ffffff;position: relative;top:-3.5rem;font-size: 1rem;z-index: 3000;">木工施工</p>
                </div>
                <div class="muzuo-item">
                    <img src="__IMG__/fwlcbg2.jpg" class="img-responsive" alt="">
                    <div class="mask">
                        <p>为您的爱家设计最可行、美观的设计方案沟通装修方案，有问题随时联系设计师修改</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide s3">
                <div class="duobianxing">
                    <div>
                        <img src="__IMG__/duobianxing-1.png" class="duobianxing-1" alt="" >
                    </div>
                    <p style="display: inline-block; color: #ffffff;position: relative;top:-3.5rem;font-size: 1rem;z-index: 3000;">木工施工</p>
                </div>
                <div class="muzuo-item">
                    <img src="__IMG__/fwlcbg3.jpg" class="img-responsive" alt="">
                    <div class="mask">
                        <p>为您的爱家设计最可行、美观的设计方案沟通装修方案，有问题随时联系设计师修改</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide s4" style="margin: 1rem 0;">
                <div class="duobianxing">
                    <div>
                        <img src="__IMG__/duobianxing-1.png" class="duobianxing-1" alt="" >
                    </div>
                    <p style="display: inline-block; color: #ffffff;position: relative;top:-3.5rem;font-size: 1rem;z-index: 3000;">木工施工</p>
                </div>
                <div class="muzuo-item">
                    <img src="__IMG__/fwlcbg3.jpg" class="img-responsive" alt="">
                    <div class="mask">
                        <p>为您的爱家设计最可行、美观的设计方案沟通装修方案，有问题随时联系设计师修改</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: #358ee7;">
            <div style="display: inline-block;color: #ffffff;float: left;margin-bottom: -5rem;padding: 1rem 0.6rem;position: relative;z-index: 20000" class="mucai-prev">&lt</div>
            <p style="display: inline-block;padding: 0.5rem 3rem; text-align: left; color: #ffffff;font-size: 1rem;">为您的爱家设计最可行、美观的设计方案沟通装修方案，有问题随时联系设计师修改</p>
            <div style="display: inline-block;color: #ffffff;float: right;margin-top: -3.9rem;padding: 1rem 0.6rem;position: relative;z-index: 20000" class="mucai-next">&gt</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <script>
        var appendNumber = 4;
        var prependNumber = 1;
        var swiper = new Swiper('.muzuo-slide', {
            pagination: '.swiper-pagination',
            slidesPerView: 3,
            nextButton: '.mucai-next',
            prevButton: '.mucai-prev',
            centeredSlides: true,
            paginationClickable: true,
            spaceBetween: 10,
            loop:true
        });
    </script>
</div>
<div style="height:5%;background-color: #f4f4f4;"></div>
<div class="youqi">
    <h2>油漆材料验收</h2>
    <p>油漆材料的质量、颜色、数量和是否符合环境要求进行验收。</p>
    <div class="swiper-container youqi-container">
        <div class="swiper-wrapper youqi-wrapper">
            <div class="swiper-slide youqi-slide"><img src="__IMG__/youqi-photo.png" width="60%" alt=""></div>
            <div class="swiper-slide youqi-slide"><img src="__IMG__/youqi-photo.png" width="60%" alt=""></div>
            <div class="swiper-slide youqi-slide"><img src="__IMG__/youqi-photo.png" width="60%" alt=""></div>
        </div>
        <div class="youqi-button-prev"><img src="__IMG__/youqi-prev-btn.png" alt=""></div>
        <div class="youqi-button-next"><img src="__IMG__/youqi-next-btn.png" alt=""></div>
        <div class="clearfix"></div>
    </div>
    <script>
        var mySwiper = new Swiper ('.youqi-container', {
            loop: true,
            nextButton: '.youqi-button-next',
            prevButton: '.youqi-button-prev',

        })
    </script>
</div>

<div style="height: 5%;background-color: #f4f4f4;"></div>

<div class="shigong-xize">
    <h2>各项施工的安装细则</h2>
    <p>对业主生活习惯做细致了解，加入人文关怀因素的考虑性服务。</p>
    <ul class="shigong-xize-part1">
        <li style="float: left">
            <img src="__IMG__/shigong-01.png" alt="" width="99.6%">
            <div class="shigong-xize-part1-font">
                <h2>地板安装</h2>
                <p>铺装地板，与成品保护。</p>
            </div>
        </li>
        <li style="float: right;">
            <img src="__IMG__/shigong-02.png" alt="" width="100%">
            <div class="shigong-xize-part1-font">
                <h2>橱柜水槽安装</h2>
                <p>对厨房整体橱柜内水槽的安装。</p>
            </div>
        </li>
        <div class="clearfix"></div>
    </ul>
    <ul class="shigong-xize-part2">
        <li style="float: left">
            <img src="__IMG__/shigong-03.png" alt="" width="99.6%">
            <div class="shigong-xize-part2-font">
                <h2>卫浴吊顶安装</h2>
                <p>对于卫生间灯具、排气扇、热水器、排气管等位置的确定与吊顶安装</p>
            </div>
        </li>
        <li style="float: right;">
            <img src="__IMG__/shigong-04.png" alt="" width="100%">
        </li>
        <div class="clearfix"></div>
    </ul>
    <ul class="shigong-xize-part3">
        <img src="__IMG__/shigong-06.png" alt="">
        <img src="__IMG__/shigong-bg.png" alt="" style="margin-top: -86px;">
        <div>
            <h2>马桶面盆花洒五金安装</h2>
            <p>卫浴间马桶、面盆、花洒、五金的安装。</p>
        </div>
    </ul>
    <ul class="shigong-xize-part4">
        <img src="__IMG__/shigong-06.png" alt="">
        <div>
            <h2>烟机灶台的安装</h2>
            <p>厨房内烟机、灶具的安装。</p>
        </div>
    </ul>
    <ul class="shigong-xize-part5">
        <li style="float: left;">
            <img src="__IMG__/shigong-07.png" alt="" width="109.5%">
        </li>
        <li style="float: right">
            <img src="__IMG__/shigong-08.png" alt="" width="100%">
            <div class="shigong-xize-part5-font" style="color:#ffffff;">
                <h2>竣工验收</h2>
                <p>对装修整体效果进行验收，发现装修中可能存在的隐患并进行整改，却不无误则完成验收。</p>
            </div>
        </li>
        <div class="clearfix"></div>
    </ul>
</div>
<div style="height: 10%;background-color: #f4f4f4"></div>
<div class="shendujiance">
    <h1>深度环境检测保证入住安全</h1>
    <p>对业主生活习惯做深入；了解，加入认为关怀因素的考虑型服务。</p>
    <ul>
        <li><img src="__IMG__/huanjing-01.png" alt=""></li>
        <li><img src="__IMG__/huanjing-02.png" alt=""></li>
        <li><img src="__IMG__/huanjing-03.png" alt=""></li>
        <li><img src="__IMG__/huanjing-04.png" alt=""></li>
        <li><img src="__IMG__/huanjing-05.png" alt=""></li>
        <li><img src="__IMG__/huanjing-06.png" alt=""></li>
        <li><img src="__IMG__/huanjing-07.png" alt=""></li>
        <li><img src="__IMG__/huanjing-08.png" alt=""></li>
    </ul>
</div>
</body>
<script>
    window.onload = function(){
        var oTop = document.getElementById("to_top");
        var screenw = document.documentElement.clientWidth || document.body.clientWidth;
        var screenh = document.documentElement.clientHeight || document.body.clientHeight;
        oTop.style.left = screenw - oTop.offsetWidth +"px";
        oTop.style.top = screenh - oTop.offsetHeight + "px";
        window.onscroll = function(){
            var scrolltop = document.documentElement.scrollTop || document.body.scrollTop;
            oTop.style.top = screenh - oTop.offsetHeight + scrolltop +"px";
        }
        oTop.onclick = function(){
            document.documentElement.scrollTop = document.body.scrollTop =0;
        }
    }
</script>
</body>
</html>